// Project fonts
$main-font-family = "Gotham"
$main-font-base-path = "../fonts/"
$fonts-formats = woff

font-face(
    family: $main-font-family,
    file-name: "Gotham-Light",
    base-path: $main-font-base-path,
    formats: $fonts-formats,
    weight: 300,
    style: normal
)

font-face(
    family: $main-font-family,
    file-name: "Gotham-Book",
    base-path: $main-font-base-path,
    formats: $fonts-formats,
    weight: 400,
    style: normal
)

font-face(
    family: $main-font-family,
    file-name: "Gotham-BookItalic",
    base-path: $main-font-base-path,
    formats: $fonts-formats,
    weight: 400,
    style: italic
)

font-face(
    family: $main-font-family,
    file-name: "Gotham-Medium",
    base-path: $main-font-base-path,
    formats: $fonts-formats,
    weight: 600,
    style: normal
)

font-face(
    family: $main-font-family,
    file-name: "Gotham-MediumItalic",
    base-path: $main-font-base-path,
    formats: $fonts-formats,
    weight: 600,
    style: italic
)

font-face(
    family: $main-font-family,
    file-name: "Gotham-Bold",
    base-path: $main-font-base-path,
    formats: $fonts-formats,
    weight: 700,
    style: normal
)

font-face(
    family: $main-font-family,
    file-name: "Gotham-BoldItalic",
    base-path: $main-font-base-path,
    formats: $fonts-formats,
    weight: 700,
    style: italic
)

font-face(
    family: $main-font-family,
    file-name: "Gotham-Black",
    base-path: $main-font-base-path,
    formats: $fonts-formats,
    weight: 900,
    style: normal
)

font-face(
    family: $main-font-family,
    file-name: "Gotham-BlackItalic",
    base-path: $main-font-base-path,
    formats: $fonts-formats,
    weight: 900,
    style: italic
)

font-face(
    family: "BebasNeue",
    file-name: "bebasneuebold",
    base-path: $main-font-base-path,
    formats: $fonts-formats,
    weight: 700,
    style: normal
)

font-face(
    family: "Prata-Regular",
    file-name: "Prata-Regular",
    base-path: $main-font-base-path,
    formats: $fonts-formats,
    weight: 400,
    style: normal
)
font-face(
    family: "OzHandicraftWin95BT",
    file-name: "OzHandicraftWin95BT",
    base-path: $main-font-base-path,
    formats: $fonts-formats,
    weight: 400,
    style: normal
)