// // Project fonts
// $main-font-family = "CormorantGaramond"
// $main-font-base-path = "../fonts/"
// $fonts-formats = ttf

// font-face(
//     family: $main-font-family,
//     file-name: "CormorantGaramond-Light",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 300,
//     style: normal
// )

// font-face(
//     family: $main-font-family,
//     file-name: "CormorantGaramond-LightItalic",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 300,
//     style: italic
// )

// font-face(
//     family: $main-font-family,
//     file-name: "CormorantGaramond-Regular",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 400,
//     style: normal
// )

// font-face(
//     family: $main-font-family,
//     file-name: "CormorantGaramond-Italic",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 400,
//     style: italic
// )

// font-face(
//     family: $main-font-family,
//     file-name: "CormorantGaramond-Medium",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 600,
//     style: normal
// )

// font-face(
//     family: $main-font-family,
//     file-name: "CormorantGaramond-MediumItalic",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 600,
//     style: italic
// )

// font-face(
//     family: $main-font-family,
//     file-name: "CormorantGaramond-Bold",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 700,
//     style: normal
// )

// font-face(
//     family: $main-font-family,
//     file-name: "CormorantGaramond-BoldItalic",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 700,
//     style: italic
// )

// font-face(
//     family: $main-font-family,
//     file-name: "CormorantGaramond-SemiBold",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 500,
//     style: normal
// )

// font-face(
//     family: $main-font-family,
//     file-name: "CormorantGaramond-SemiBoldItalic",
//     base-path: $main-font-base-path,
//     formats: $fonts-formats,
//     weight: 500,
//     style: italic
// )