html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
    margin 0
    padding 0
    border 0
    font-size 100%
    font inherit
    vertical-align baseline

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
    display block

body
    line-height 1

ol,ul
    list-style none

blockquote,q
    quotes none

blockquote:before,blockquote:after,q:before,q:after
    content ''
    content none

table
    border-collapse collapse
    border-spacing 0

*,
*::after,
*::before
    box-sizing border-box

h1, h2, h3, h4, h5, h6, ul
    margin 0
    padding 0

#fl_start_lp
    font-size calc(100vw/20)

    +md-block()
        font-size calc(100vw/48)

    +lg-block()
        font-size calc(100vw/120)

.fl_start_lp
    background #fff
    // overflow hidden
    padding 0 
    font-family: 'Montserrat', sans-serif;
    position relative
    color #000

.picture--sm
    +md-block()
        display none!important

.picture--md
    display none!important

    +md-block()
        display block!important
    
    +lg-block()
        display none!important

.picture--lg
    display none!important

    +lg-block()
        display block!important

input[type="text"]
input[type="number"]
    background: #FFFFFF;
    border: 1px solid #AFAFAF;
    width 100%
    font-size em(10)
    padding 0 (10/10em) 0 (30/10em)
    border-radius: (12/10em)
    height (40/10em)
    line-height (40/10em)
    outline none
    font-weight 600
    font-family $ff

    +md-block()
        font-size em(22)
        height (70/22em)
        border-radius: (20/22em)
        padding 0 (20/22em) 0 (54/22em)

.error
    input[type="text"]
    input[type="number"]
        background: #FFEAEA;
        border: 1px solid #FFB7B7;

.md-nowrap

    +md-block()
        white-space: nowrap
    
    +lg-block()
        white-space: normal

b
    font-weight 700