html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
    margin 0
    padding 0
    border 0
    font-size 100%
    font inherit
    vertical-align baseline

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
    display block

body
    line-height 1

ol,ul
    list-style none

blockquote,q
    quotes none

blockquote:before,blockquote:after,q:before,q:after
    content ''
    content none

table
    border-collapse collapse
    border-spacing 0

*,
*::after,
*::before
    box-sizing border-box

h1, h2, h3, h4, h5, h6, ul
    margin 0
    padding 0

#fl_start_lp
    font-size calc(100vw/20)

    +md-block()
        font-size calc(100vw/48)

    +lg-block()
        font-size calc(100vw/120)

.fl_start_lp
    background #fff
    // overflow hidden
    padding 0 
    font-family: 'Montserrat', sans-serif;
    position relative
    color #000

.picture--sm
    +md-block()
        display none!important

.picture--md
    display none!important

    +md-block()
        display block!important
    
    +lg-block()
        display none!important

.picture--lg
    display none!important

    +lg-block()
        display block!important

input[type="text"]
input[type="number"]
textarea
    background: #FFFFFF;
    border: 1px solid #AFAFAF;
    width 100%
    font-size em(10)
    padding 0 (30/10em) 0 (30/10em)
    border-radius: (12/10em)
    height (40/10em)
    line-height (40/10em)
    outline none
    font-weight 600
    font-family $ff

    +md-block()
        font-size em(22)
        height (70/22em)
        border-radius: (20/22em)
        padding 0 (54/22em) 0 (54/22em)

    +lg-block()
        font-size em(18)
        height (70/18em)
        padding 0 (54/18em) 0 (54/18em)

textarea
    height 300px

::placeholder
    color: #AFAFAF;
    opacity: 1;

:-ms-input-placeholder
    color: #AFAFAF;

::-ms-input-placeholder
    color: #AFAFAF;

.error
    input[type="text"]
    input[type="number"]
        background: #FFEAEA;
        border: 1px solid #FFB7B7;

    .form__item__checkbox__span
        box-shadow: 0 0 10px 0 red
        border-color red

.md-nowrap

    +md-block()
        white-space: nowrap
    
    +lg-block()
        white-space: normal

b
    font-weight 700

.form
    display block
    max-width: em(220)
    margin 0 auto

    +md-block()
        max-width em(400)
    
    +lg-block()
        max-width none
        display flex
        flex-wrap: wrap
        justify-content: space-between

    &__item
        position relative

        +lg-block()
            width: em(400)
            max-width: em(400)
            min-width: em(400)

        &--btn
            text-align center
            margin-top em(30)

            +md-block()
                margin-top em(50)

            +lg-block()
                // margin-top em(50)
                margin-left auto
                margin-right auto

        & + &:not(.form__item--btn)
            margin-top em(20)

            +md-block()
                margin-top em(30)

            +lg-block()
                margin-top 0

        &--checkbox
            label
                cursor pointer
                display flex
                padding: 0 em(20)
                align-items: center
                position relative

                +md-block()
                    padding: 0 em(15)

                input
                    opacity 0
                    position absolute
                    z-index -1

                    &:checked + .form__item__checkbox__span
                        border-color #64A060
                        background-color #64A060
                        box-shadow: none

        &__checkbox

            &__span
                border: 1px solid #BABABA
                display block
                min-width: em(15)
                min-height em(15)
                max-width: em(15)
                max-height em(15)
                width em(15)
                height em(15)
                margin-right em(15)
                position relative

                +md-block()
                    min-width: em(30)
                    min-height em(30)
                    max-width: em(30)
                    max-height em(30)
                    width em(30)
                    height em(30)
                    margin-right em(20)

                &:before
                    position absolute
                    content ''
                    left 0
                    right 0
                    top 0
                    bottom 0
                    background-image embedurl('../img/content/checkbox.svg')
                    background-repeat no-repeat
                    background-position 50% 50%
                    background-size contain


            &__title
                font-family: $ff
                font-size: 0.5em
                line-height: 150%;

                +md-block()
                    font-size em(10)
                

    &__note
        position absolute
        font-size em(8)
        color #000
        left (30/8em)
        top 100%
        margin-top (4/8em)
        display none
        font-family $ff

        +md-block()
            font-size em(10)
            margin-top (10/10em)

        +lg-block()
            left 5.4em