include ready-made-temp
section.section--ready-made
    .ready-made
        h2.ready-made__header Готовые панно
        .ready-made__subtitle Вы&nbsp;можете выбрать для себя готовое решение, точная стоимость будет зависеть от&nbsp;желаемого размера изделия. Срок изготовления&nbsp;&mdash; 10&nbsp;дней.
        .ready-made__items
            +ready-made({
                'title':'Настенное панно олень',
                'alt':'Настенное панно олень',
                'price':'от 6 233 ₽',
                'btn':'подробнее',
                'btn_link':'/',
                'img_format':'jpg',
                'sm':'./img/content/ready-made/img-1-sm',
                'md':'./img/content/ready-made/img-1-md',
                'lg':'./img/content/ready-made/img-1-lg',
            })

            +ready-made({
                'title':'Настенное панно слон',
                'alt':'Настенное панно слон',
                'price':'от 6 335 ₽',
                'btn':'подробнее',
                'btn_link':'/',
                'img_format':'jpg',
                'sm':'./img/content/ready-made/img-2-sm',
                'md':'./img/content/ready-made/img-2-md',
                'lg':'./img/content/ready-made/img-2-lg',
            })

            +ready-made({
                'title':'Настенное панно дерево',
                'alt':'Настенное панно дерево',
                'price':'от 6 241 ₽',
                'btn':'подробнее',
                'btn_link':'/',
                'img_format':'jpg',
                'sm':'./img/content/ready-made/img-3-sm',
                'md':'./img/content/ready-made/img-3-md',
                'lg':'./img/content/ready-made/img-3-lg',
            })

            +ready-made({
                'title':'Настенное панно планета',
                'alt':'Настенное панно планета',
                'price':'от 8 052 ₽',
                'btn':'подробнее',
                'btn_link':'/',
                'img_format':'jpg',
                'sm':'./img/content/ready-made/img-4-sm',
                'md':'./img/content/ready-made/img-4-md',
                'lg':'./img/content/ready-made/img-4-lg',
            })