include ready-made-temp
section.section--ready-made#scrollto-panno
    .ready-made
        h2.ready-made__header Готовые панно
        .ready-made__subtitle Вы&nbsp;можете выбрать для себя готовое решение, точная стоимость будет зависеть от&nbsp;желаемого размера изделия. Срок изготовления&nbsp;&mdash; 10&nbsp;дней.
        .ready-made__items
            +ready-made({
                'title':'Панно из мха ягель<br />0,25&nbsp;кв.м',
                'alt':'Панно из мха ягель 0,25&nbsp;кв.м',
                'price':'от 4 812 ₽',
                'btn':'подробнее',
                'btn_link':'#form-popup-ready-made',
                'img_format':'jpg',
                'sm':'./img/content/ready-made/img-5-sm',
                'md':'./img/content/ready-made/img-5-md',
                'lg':'./img/content/ready-made/img-5-lg',
            })

            +ready-made({
                'title':'Панно из мха кочки<br /> 0,25&nbsp;кв.м',
                'alt':'Панно из мха кочки 0,25&nbsp;кв.м',
                'price':'от 8 000 ₽',
                'btn':'подробнее',
                'btn_link':'#form-popup-ready-made',
                'img_format':'jpg',
                'sm':'./img/content/ready-made/img-6-sm',
                'md':'./img/content/ready-made/img-6-md',
                'lg':'./img/content/ready-made/img-6-lg',
            })

            +ready-made({
                'title':'Панно из комбинации мхов<br /> пластовой и кочки 0,25 кв.м',
                'alt':'Панно из комбинации мхов пластовой и кочки 0,25 кв.м',
                'price':'от 5 750 ₽',
                'btn':'подробнее',
                'btn_link':'#form-popup-ready-made',
                'img_format':'jpg',
                'sm':'./img/content/ready-made/img-7-sm',
                'md':'./img/content/ready-made/img-7-md',
                'lg':'./img/content/ready-made/img-7-lg',
            })

            +ready-made({
                'title':'Панно из комбинации<br /> растений и мхов 0,25 кв.м',
                'alt':'Панно из комбинации растений и мхов 0,25 кв.м',
                'price':'от 7 000 ₽',
                'btn':'подробнее',
                'btn_link':'#form-popup-ready-made',
                'img_format':'jpg',
                'sm':'./img/content/ready-made/img-8-sm',
                'md':'./img/content/ready-made/img-8-md',
                'lg':'./img/content/ready-made/img-8-lg',
            })
            
            +ready-made({
                'title':'Настенное панно олень',
                'alt':'Настенное панно олень',
                'price':'от 6 233 ₽',
                'btn':'подробнее',
                'btn_link':'#form-popup-ready-made',
                'img_format':'jpg',
                'sm':'./img/content/ready-made/img-1-sm',
                'md':'./img/content/ready-made/img-1-md',
                'lg':'./img/content/ready-made/img-1-lg',
            })

            +ready-made({
                'title':'Настенное панно слон',
                'alt':'Настенное панно слон',
                'price':'от 6 335 ₽',
                'btn':'подробнее',
                'btn_link':'#form-popup-ready-made',
                'img_format':'jpg',
                'sm':'./img/content/ready-made/img-2-sm',
                'md':'./img/content/ready-made/img-2-md',
                'lg':'./img/content/ready-made/img-2-lg',
            })

            +ready-made({
                'title':'Настенное панно дерево',
                'alt':'Настенное панно дерево',
                'price':'от 6 241 ₽',
                'btn':'подробнее',
                'btn_link':'#form-popup-ready-made',
                'img_format':'jpg',
                'sm':'./img/content/ready-made/img-3-sm',
                'md':'./img/content/ready-made/img-3-md',
                'lg':'./img/content/ready-made/img-3-lg',
            })

            +ready-made({
                'title':'Настенное панно планета',
                'alt':'Настенное панно планета',
                'price':'от 8 052 ₽',
                'btn':'подробнее',
                'btn_link':'#form-popup-ready-made',
                'img_format':'jpg',
                'sm':'./img/content/ready-made/img-4-sm',
                'md':'./img/content/ready-made/img-4-md',
                'lg':'./img/content/ready-made/img-4-lg',
            })

        .ready-made__btn-wrap
            a.ready-made__btn(href="#") показать ещё