// $primary-black = #15161A
// $primary-text = #202020
// $primary-color = #8472B3
// $white = #ffffff
// $primary-red = #E0004D
// $primary-bg = #F9E9DE

// $rule-color = #08577C

// // btn colors
// $primary-btn-bg = $primary-color
// $primary-btn-bg-hover = $white
// $primary-btn-color = $primary-black
// $primary-btn-color-hover = $primary-color
// $primary-btn-bg2 = $primary-color

// $white_btn_bgc = $white
// $white_btn_color = $primary-black

// $white_btn_bgc_hover = $white_btn_bgc

// // title colors
// $primary-title-color = $primary-color


// // intro colors
// $intro-text-color =#ffffff
// $intro-title-color = #ffffff
// $intro-price-color1 = $intro-title-color
// $intro-price-color2 = #EE3124

// $intro_for_countries-title-color = $white
// $intro_for_countries-text-color = $white
// $primary-color_for_countries = #EE9C1F
// $intro_for_countries-btn-bg = #EE3124

// // sticker colors
// $sticker-color = #ffffff
// $sticker-red = #EE3124
// $sticker-border = $sticker-red


// steps colors
// $steps-title-color = $primary-color
// $steps-text-color = $primary-black