
.intro

	min-height em(550)
	background url(../img/content/intro/intro-sm.jpg) center center no-repeat
	background-size cover
	position relative
	z-index 1

	+md-block()
		min-height em(900)
		background url(../img/content/intro/intro-md.jpg) center center no-repeat
		background-size cover
	
	+lg-block()
		background url(../img/content/intro/intro-lg.jpg) center center no-repeat
		background-size cover