section.section.section--intro
	.intro
		.intro__inner
			a.intro__logo(href="/")
			.intro__name Профессиональное озеленение&nbsp;вашего интерьера
			.intro__slog от уникального фитодизайна помещения до ухода за&nbsp;растениями
			.intro__btn-row
				a.btn(href="#") оставить заявку