.path
    display flex
    flex-wrap: wrap
    flex-direction: row

    &__item
        font-style: normal;
        font-weight: 400;
        font-size: em(12)
        line-height: 150%;
        color: #6A6A6A;
        text-decoration none
        margin-right 0.5em