include menu-list
mixin menu(data)
    .panel(class=data.class)
        .panel__inner
            .panel__menu-btn.menu-btn--js

            .panel__logo
                a(href="/")
                    include logo.svg

            ul.panel__menu
                +menu-list()

            .panel__right
                .panel__phone
                    a(href="tel:+74995530845") +7 (499) 553 08 45
                
                .panel__contacts
                    .panel__mess
                        a(href="https://wa.me/79035511775?text=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82!", target="_blank") 
                            include call.svg
                        a(href="https://telegram.im/@okfito", target="_blank") 
                            include tg.svg
                    .panel__time 9:00-21:00