.panel
    position absolute
    left 0
    right 0
    top 0
    min-height: em(60)
    z-index 10
    width 100%

    +md-block()
        min-height: em(106)

    +lg-block()
        display flex
        justify-content: center
        padding em(94) 0 0 0

    &__inner
        display flex
        justify-content: space-between

        +lg-block()
            align-items: flex-start

    &__right
        display flex

        +md-block()
            flex-grow: 1

        +lg-block()
            flex-direction: column
            align-items: flex-end
    
    &__contacts
        display flex

        +lg-block()
            align-items: center
            padding-top em(18)

    &__menu-btn
        background embedurl('../img/content/menu/menu.svg') center center no-repeat
        background-size em(30) auto
        width em(70)
        height em(60)
        cursor pointer

        +md-block()
            background-size em(44) auto
            width em(144)
            height em(106)

        +lg-block()
            display none

    &__logo
        margin em(13) 0 0 em(8)

        +md-block()
            display none

        +lg-block()
            display block
            margin 0

        a
            outline: none

        svg
            display block
            height auto
            width: em(94)

            +lg-block()
                width: em(183)

    &__mess
        display flex
        padding em(21) em(20) 0 em(10)

        +md-block()
            padding em(36) em(30) 0 em(10)

        +lg-block()
            padding 0

        a
            svg
                width em(20)
                height auto
                display block

                +md-block()
                    width em(40)
                
                +lg-block()
                    width em(30)
        
        a:hover
            svg
                path
                    fill #64A060
                    transition: all 0.4s

        a + a
            margin-left em(8)

            +md-block()
                margin-left em(15)
    
    &__time
        display none

        +md-block()
            display block
            font-size em(20)
            color rgba(#fff, 0.7)
            padding (44/20em) (50/20em) 0 0

        +lg-block()
            font-size 1em
            padding 0 0 0 em(15)
    
    &__phone
        display none
        
        +md-block()
            display block
            font-weight 600
            font-size em(26)
            color rgba(#fff, 1)
            padding (39/26em) 0 0 (30/26em)
            flex-grow: 1

        +lg-block()
            font-weight 700
            padding (18/26em) 0 0 0

        a
            color #fff
            text-decoration none

    &__menu
        display none

        +lg-block()
            display flex
            padding em(26) em(38) 0

        li
            padding 0 em(15) 1em

            a
                font-weight: 600;
                font-size 1em
                line-height: em(20)
                color #fff
                text-decoration none
                text-transform uppercase
                position relative
                padding-bottom em(12)
                outline: none
            
                &:after
                    opacity 0
                    position absolute
                    left 0
                    right 0
                    bottom 0
                    height 1px
                    content ''
                    display block
                    background-color #fff
                    transition: all 0.4s

            a:hover
                &:after
                    opacity 1

.panel-fix
    position: sticky
    padding 0
    background-color #fff
    top 0
    border-bottom 1px solid #DCDCDC

    &--main
        opacity 0
        transition: all 0.4s
        transform translate3d(0, -100%, 0)

    &--inner
        opacity 1
        transform translate3d(0, 0, 0)

    &--show
        transform translate3d(0, 0, 0)
        opacity 1

    +lg-block()
        padding 0
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
        min-height: em(80)

    .panel__inner
        +lg-block()
            min-width em(1620)

    .panel__menu-btn
        background embedurl('../img/content/menu/menu-green.svg') center center no-repeat
        background-size em(30) auto
    
    .panel__logo
        +lg-block()
            display none

        a
            outline: none

        svg
            path
                fill #64A060

    .panel__mess
        a
            svg
                +md-block()
                    width em(40)
                    height em(40)
                path
                    fill #64A060

        a:hover
            svg
                path
                    fill #40763D
                    transition: all 0.4s

    .panel__phone

        +lg-block()
            padding-right (30/26em)
            padding-top (28/26em)

        a
            color #64A060
            transition: all 0.4s

            &:hover
                color #40763D
    
    .panel__time
        color #64A060

        +lg-block()
            padding-left (32/20em)
            font-size em(20)

    .panel__menu
        +lg-block()
            padding em(30) 0 0 em(44)

        li
            a
                +lg-block()
                    color #64A060

                    &:after
                        background-color #64A060

    .panel__right

        +lg-block()
            flex-direction: row
            flex-grow: 0
            align-items: flex-start

    .panel__contacts
        +lg-block()
            padding-top em(20)

.panel-mobile
    top: 0;
    left: 0;
    position: fixed;
    width: auto;
    text-align: center;
    right: 0;
    z-index: 11;
    margin-left: 0;
    margin-right: 0;

    +lg-block()
        display none

    &__mask
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        pointer-events: auto;
        display none
        opacity 0
        transition: all 0.4s

    &__close-btn
        position absolute
        z-index 1
        width em(20)
        height em(20)
        background embedurl('../img/content/menu/menu-close.svg') 0 0 no-repeat
        background-size contain
        top em(21)
        right em(15)

        +md-block()
            width em(30)
            height em(30)
            top em(38)
            right em(50)
    
    &__content
        box-sizing: border-box;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: em(250);
        background: #fff;
        transform: translate3d(-100%, 0, 0);
        pointer-events: auto;
        transition: all 0.4s

        +md-block()
            width: em(546);

        &__inner
            overflow-y: auto;
            max-height: 100%;
            min-height: 100%;
            position: relative;
            z-index: 0;
            display flex
            flex-direction: column

    &__logo
        margin em(13) auto em(46)

        +md-block()
            margin-bottom em(74)

        svg
            display block
            height auto
            width em(94)

            +md-block()
                width em(186)

            path
                fill #64A060

    &__phone
        font-weight 500
        color rgba(#000, 1)
        font-size em(20)
        line-height (24/20em)
        margin-bottom (14/20em)

        +md-block()
            font-size em(32)
            line-height (29/32em)
            margin-bottom (22/32em)

        a
            color #000
            text-decoration none

    &__time
        font-weight 500
        color rgba(#000, 0.7)
        font-size em(14)
        line-height (17/14em)
        margin-bottom (12/14em)

        +md-block()
            font-size em(22)
            line-height (27/22em)
            margin-bottom (18/22em)

    &__mess
        display flex
        justify-content: center
        padding: 0 0 em(46)

        +md-block()
            padding: 0 0 em(72)

        a
            svg
                width em(32)
                height auto
                display block

                +md-block()
                    width em(52)

                path
                    fill #64A060
        
        a:hover
            svg
                path
                    fill #40763D
                    transition: all 0.4s

        a + a
            margin-left em(12)

            +md-block()
                margin-left em(20)

    &__img
        background: url('../img/content/menu/menu-sm.jpg') 0 bottom no-repeat
        background-size 100% auto
        height em(110)
        min-height em(110)
        max-height em(110)
        margin-top auto

        +md-block()
            background-image url('../img/content/menu/menu-md.jpg')
            height em(180)
            min-height em(180)
            max-height em(180)

    &__menu
        text-align left
        padding: 0 em(20) em(12) em(36)

        +md-block()
            padding: 0 em(20) em(20) em(130)

        li
            display block
            margin-bottom em(30)

            +md-block()
                margin-bottom em(48)

            &:last-child
                margin-bottom 0

            a
                font-style: normal;
                font-weight: 500;
                font-size: em(12);
                line-height: (15/12em)
                text-transform: uppercase;
                color #000
                text-decoration none

                +md-block()
                    font-size: em(20);
                    line-height: (24/20em)


.panel-mobile--active
    .panel-mobile__mask
        display block
        opacity 1
    
    .panel-mobile__content
            transform: translate3d(0%, 0, 0);

body.noscroll
    overflow hidden !important