include menu-list
mixin menu(data)
    .panel(class=data.class)
        .panel__inner
            .panel__menu-btn.menu-btn--js

            .panel__logo
                a(href="/")
                    include logo.svg

            ul.panel__menu
                +menu-list()

            .panel__right
                .panel__phone
                    a(href="tel:+74995530845") +7 (499) 553 08 45
                
                .panel__contacts
                    .panel__mess
                        a(href="#") 
                            include call.svg
                        a(href="#") 
                            include tg.svg
                    .panel__time 9:00-21:00