mixin menu-list
    li
        a(href="/#scrollto-about") о компании
    li
        a(href="/#scrollto-projects") наши проекты
    li
        a(href="/#scrollto-panno") готовые панно
    li
        a(href="/#scrollto-calculator") калькулятор стоимости
    li
        a(href="/#scrollto-checklist") чек-лист по уходу