section.section.section--description
    .slider__wrap
        .swiper.slider
            .swiper-wrapper
                .swiper-slide 
                    picture.slider__picture.slider__picture--sm.picture--sm
                        source(type="image/webp", data-srcset="./img/content/slider/slider-1-sm.webp")
                        source(type="image/jpg", data-srcset="./img/content/slider/slider-1-sm.jpg")
                        img(data-src="./img/content/slider/slider-1-sm.jpg", alt="Слайдер 1").slider__img
                    picture.slider__picture.slider__picture--md.picture--md
                        source(type="image/webp", data-srcset="./img/content/slider/slider-1-md.webp")
                        source(type="image/jpg", data-srcset="./img/content/slider/slider-1-md.jpg")
                        img(data-src="./img/content/slider/slider-1-md.jpg", alt="Слайдер 1").slider__img
                    picture.slider__picture.slider__picture--lg.picture--lg
                        source(type="image/webp", data-srcset="./img/content/slider/slider-1-lg.webp")
                        source(type="image/jpg", data-srcset="./img/content/slider/slider-1-lg.jpg")
                        img(data-src="./img/content/slider/slider-1-lg.jpg", alt="Слайдер 1").slider__img
                
                .swiper-slide 
                    picture.slider__picture.slider__picture--sm.picture--sm
                        source(type="image/webp", data-srcset="./img/content/slider/slider-2-sm.webp")
                        source(type="image/jpg", data-srcset="./img/content/slider/slider-2-sm.jpg")
                        img(data-src="./img/content/slider/slider-2-sm.jpg", alt="Слайдер 1").slider__img
                    picture.slider__picture.slider__picture--md.picture--md
                        source(type="image/webp", data-srcset="./img/content/slider/slider-2-md.webp")
                        source(type="image/jpg", data-srcset="./img/content/slider/slider-2-md.jpg")
                        img(data-src="./img/content/slider/slider-2-md.jpg", alt="Слайдер 1").slider__img
                    picture.slider__picture.slider__picture--lg.picture--lg
                        source(type="image/webp", data-srcset="./img/content/slider/slider-2-lg.webp")
                        source(type="image/jpg", data-srcset="./img/content/slider/slider-2-lg.jpg")
                        img(data-src="./img/content/slider/slider-2-lg.jpg", alt="Слайдер 1").slider__img

                .swiper-slide 
                    picture.slider__picture.slider__picture--sm.picture--sm
                        source(type="image/webp", data-srcset="./img/content/slider/slider-3-sm.webp")
                        source(type="image/jpg", data-srcset="./img/content/slider/slider-3-sm.jpg")
                        img(data-src="./img/content/slider/slider-3-sm.jpg", alt="Слайдер 1").slider__img
                    picture.slider__picture.slider__picture--md.picture--md
                        source(type="image/webp", data-srcset="./img/content/slider/slider-3-md.webp")
                        source(type="image/jpg", data-srcset="./img/content/slider/slider-3-md.jpg")
                        img(data-src="./img/content/slider/slider-3-md.jpg", alt="Слайдер 1").slider__img
                    picture.slider__picture.slider__picture--lg.picture--lg
                        source(type="image/webp", data-srcset="./img/content/slider/slider-3-lg.webp")
                        source(type="image/jpg", data-srcset="./img/content/slider/slider-3-lg.jpg")
                        img(data-src="./img/content/slider/slider-3-lg.jpg", alt="Слайдер 1").slider__img
                
                .swiper-slide 
                    picture.slider__picture.slider__picture--sm.picture--sm
                        source(type="image/webp", data-srcset="./img/content/slider/slider-4-sm.webp")
                        source(type="image/jpg", data-srcset="./img/content/slider/slider-4-sm.jpg")
                        img(data-src="./img/content/slider/slider-4-sm.jpg", alt="Слайдер 1").slider__img
                    picture.slider__picture.slider__picture--md.picture--md
                        source(type="image/webp", data-srcset="./img/content/slider/slider-4-md.webp")
                        source(type="image/jpg", data-srcset="./img/content/slider/slider-4-md.jpg")
                        img(data-src="./img/content/slider/slider-4-md.jpg", alt="Слайдер 1").slider__img
                    picture.slider__picture.slider__picture--lg.picture--lg
                        source(type="image/webp", data-srcset="./img/content/slider/slider-4-lg.webp")
                        source(type="image/jpg", data-srcset="./img/content/slider/slider-4-lg.jpg")
                        img(data-src="./img/content/slider/slider-4-lg.jpg", alt="Слайдер 1").slider__img

            .swiper-pagination

            //- .swiper-button-prev
            //- .swiper-button-next

            //- .swiper-scrollbar
    .description
        p За&nbsp;35&nbsp;лет жизни, связанной с&nbsp;природой, я&nbsp;почувствовала, как много в&nbsp;ней взаимосвязей. Человек неразделим с&nbsp;едой, водой, солнцем, землёй.
        p Возможно, громко прозвучит, но&nbsp;это моя действительность. Ничего прекрасней нету, чем любить эту планету. Мои панно&nbsp;&mdash; частичка этой любви, которую вы&nbsp;можете занести в&nbsp;дом вместе с&nbsp;созданным мною искусством из&nbsp;зелёных растений.
        h2.description__header Будьте уверенны, второго такого&nbsp;изделия&nbsp;нет. 
        p Это авторская работа, и&nbsp;каждая композиция собирается исключительно отличительно от&nbsp;других 🙌#[br]Конечно, по&nbsp;желанию возможно и&nbsp;&laquo;клонировать&raquo; (повторить) понравившуюся композицию на&nbsp;80%. #[br]Спросите: почему на&nbsp;80%?#[br]Отвечу: стабилизированные растения&nbsp;&mdash; не&nbsp;искусственная штамповка.#[br]Это натуральные растения, каждый пучок которых может отличаться размером листьев и&nbsp;цветом. Последний может отличаться на&nbsp;2-3 тона (предупреждает производство).