extends ../layouts/default

block variables
	- const title = "Okfito"

block content
	include ../../blocks/components/menu/menu
	+menu({
		class:'panel-top'
	})
	include ../../blocks/components/intro/intro	
	+menu({
		class:'panel-fix'
	})
	include ../../blocks/components/about/about	
	include ../../blocks/components/slider/slider
	include ../../blocks/components/panno/panno
	include ../../blocks/components/ready-made/ready-made
	include ../../blocks/components/calculator/calculator
	include ../../blocks/components/checklist/checklist
	include ../../blocks/components/footer/footer
		
block scripts
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js")
	script(src="https://code.jquery.com/ui/1.13.2/jquery-ui.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js")
	script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
	//- script(src="https://cdn.jsdelivr.net/npm/luxon@3.0.4/build/global/luxon.min.js")

	//- link(rel="stylesheet" href="./styles/swiper-bundle.min.css")
	//- https://unpkg.com/swiper/swiper-bundle.min.js
	//- script(src="https://static.faberlic.com/fl_bloom/js/swiper-bundle.js")
	//- script(src="https://static.faberlic.com/fl_bloom/js/gsap.min.js")
	//- script(src="https://static.faberlic.com/fl_bloom/js/ScrollTrigger.min.js")
	//- script(src="https://static.faberlic.com/fl_bloom/js/ScrollToPlugin.min.js")
	//- script(src="https://static.faberlic.com/scripts/swiper-bundle.min.js")
	script(src="./js/main.js")