extends ../layouts/default

block variables
	- const title = "Okfito"

block content
	include ../../blocks/components/intro/intro	
		
block scripts
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js")
	//- script(src="https://cdn.jsdelivr.net/npm/luxon@3.0.4/build/global/luxon.min.js")

	//- link(rel="stylesheet" href="./styles/swiper-bundle.min.css")
	//- https://unpkg.com/swiper/swiper-bundle.min.js
	//- script(src="https://static.faberlic.com/fl_bloom/js/swiper-bundle.js")
	//- script(src="https://static.faberlic.com/fl_bloom/js/gsap.min.js")
	//- script(src="https://static.faberlic.com/fl_bloom/js/ScrollTrigger.min.js")
	//- script(src="https://static.faberlic.com/fl_bloom/js/ScrollToPlugin.min.js")
	//- script(src="https://static.faberlic.com/scripts/swiper-bundle.min.js")
	script(src="./js/main.js")