extends ../layouts/default
include ../../blocks/components/panno-inner/panno-inner-temp

block variables
	- const title = "Как ухаживать за бонсай?"

block styles
	link(rel="stylesheet" href='./styles/inner.css')

block content
	include ../../blocks/components/form/form-intro
	include ../../blocks/components/menu/menu-mobile
	include ../../blocks/components/menu/menu
	+menu({
		class:'panel-fix panel-fix--inner'
	})
	+panno-inner({
		'title':'Как ухаживать за бонсай?',
		'location':'КП Агаларов Estate',
		'price':'15 800 ₽',
		'desc':`
			<p>
                Символика жизни в деревце бонсай
            </p>
            <p>
                Вы&nbsp;на&nbsp;славу потрудились обставляя квартиру и&nbsp;теперь она выглядит великолепно. Современный ремонт, свободное пространство, приятная отделка, удобная мебель, но&nbsp;чего-то как-будто не&nbsp;хватает. Нужен акцент, но&nbsp;не&nbsp;просто яркая пустышка, а&nbsp;поистине ценный экземпляр.
                <br />
                В&nbsp;сумасшедшем ритме жизни особенно важно регулярно подпитывать силы, расслабляться и&nbsp;заряжаться энергией. Невозможно переоценить положительное влияние деревьев на&nbsp;энергетику человека. Но&nbsp;конечно выход есть&nbsp;&mdash; &laquo;принести&raquo; энергию дерева к&nbsp;себе в&nbsp;дом! Это может быть деревянные украшения, деревянная мебель, аксессуары... Или вы&nbsp;можете выбрать живое карликовое дерево&nbsp;&mdash; бонсай.
            </p>
            <p>
                &laquo;Бонсай&raquo;, таким образом, означает &laquo;дерево, посаженное в&nbsp;неглубокий контейнер&raquo;. Это искусство с&nbsp;нами уже более тысячи лет. Конечной целью выращивания бонсай является создание миниатюрного, но&nbsp;реалистичного образа дерева в&nbsp;природе. Классификация бонсай по&nbsp;размеру, по&nbsp;мере его увеличения
            </p>
            <ul>
                <li>Шохин: 13-20&nbsp;см</li>
                <li>Комоно: 15-25&nbsp;см</li>
                <li>Катаде-моти: 25-46&nbsp;см</li>
                <li>Чумоно/Чиу: 41-91&nbsp;см</li>
                <li>Омоно/Дай: 76-122&nbsp;см</li>
                <li>Хати-Юе: 102-152&nbsp;см</li>
                <li>Императорский: 152-203&nbsp;см</li>
            </ul>
			<p>
                Бонсай&nbsp;&mdash; миниатюрное карликовое деревце, размер в&nbsp;50-80 раз меньше выращенного в&nbsp;природе. Искусство выращивания таких деревьев так&nbsp;же носит название бонсай.
                <br />
                Наибольшим спросом пользуются вечнозеленые карликовые деревья.
                <br />
                У&nbsp;бонсай своя символика. Bonsai символизирует стремление человека к&nbsp;вечному счастью, семейной идиллии, беззаботной старости. Создание бонсай&nbsp;&mdash; путь к&nbsp;душевному равновесию, мудрой отрешённости от&nbsp;реальности, меланхоличной медитации.
                <br />
                В&nbsp;бонсаи реализована философия видения прекрасного в&nbsp;малом, отражение безграничной красоты природы на&nbsp;маленьком пространстве. Особое внимание к&nbsp;детализации как связующее звено человеческих чувств, требующих пробуждения внутри тяги к&nbsp;прекрасному, необходимостью затмить обыденность повседневности.
                <br />
                В&nbsp;стремлении творить в&nbsp;силу своих способностей произведения искусства, раскрывается тесная связь с&nbsp;природой. Хоть путь к&nbsp;совершенству порой длиннее человеческой жизни, постоянное движение вперёд при создании бонсай:
            </p>
            <ul>
                <li>Символ духа.</li>
                <li>Обширное поле деятельности для реализации потенциала.</li>
                <li>Философия жизни.</li>
            </ul>
			<p>
                Поклонники искусства бонсай не&nbsp;ограничены территориально и&nbsp;в&nbsp;каждой стране символика карликовых деревьев соответствует образу мышления народа, в&nbsp;чём-то отражает характер местной природы, не&nbsp;оставаясь просто <span class="underline">деревом для интерьера.</span> Философия бонсай, при этом, отступает на&nbsp;второй план, уступая традиционным философским идеям.
            </p>
		`,
		'slider': {
			'alt': 'Как ухаживать за бонсай?',
			slider : [
				{img: './img/content/inner/15/1.jpg',},
				{img: './img/content/inner/15/2.jpg',},
				{img: './img/content/inner/15/3.jpg',},
				{img: './img/content/inner/15/4.jpg',},
				{img: './img/content/inner/15/5.jpg',},
				{img: './img/content/inner/15/6.jpg',},
			],
			thumbs : [
				{img: './img/content/inner/15/thumbs/1.png',},
				{img: './img/content/inner/15/thumbs/2.png',},
				{img: './img/content/inner/15/thumbs/3.png',},
				{img: './img/content/inner/15/thumbs/4.png',},
				{img: './img/content/inner/15/thumbs/5.png',},
				{img: './img/content/inner/15/thumbs/6.png',},
			],
		},
	})
	include ../../blocks/components/footer-inner/footer-inner
		
block scripts
	script(src="https://okfito.ru/js/jquery.js")
	script(src="https://okfito.ru/js/swiper-bundle.js")
	script(src="https://okfito.ru/js/jquery.mask.js")
	script(src="./js/inner.js")