extends ../layouts/default
include ../../blocks/components/panno-inner/panno-inner-temp

block variables
	- const title = "Озеленение для кабинета руководителя"

block styles
	link(rel="stylesheet" href='./styles/inner.css')

block content
	include ../../blocks/components/form/form-intro
	include ../../blocks/components/menu/menu-mobile
	include ../../blocks/components/menu/menu
	+menu({
		class:'panel-fix panel-fix--inner'
	})
	+panno-inner({
		'title':'Озеленение для кабинета руководителя',
		'location':'ЖК Резиденция архитекторов, ул. Большая Почтовая',
		'price':'185 000 ₽',
		'params': [
			{
				'title':'Площадь',
				'value':'6,7 м²',
			},
			{
				'title':'Сроки',
				'value':'1 месяц',
			},
		],
		'desc':`
			<p>
                Один из&nbsp;популярных вопросов по&nbsp;поводу заказа фитопанно&nbsp;&mdash; сколько ждать? Всем хочется побыстрее заполучить свой оригинальный проект и&nbsp;украсить комнату.
            </p>
            <p>
                Быстро не&nbsp;выйдет, так как у&nbsp;нас нет массового производства и&nbsp;склада готовой продукции. Достоинство зелёного панно&nbsp;&mdash; в&nbsp;уникальности. Каждое создаётся исключительно под клиента, его вкусы и&nbsp;пожелания. Поэтому в&nbsp;результате картина отражает характер и&nbsp;индивидуальность обладателя.
            </p>
            <p>
                После согласования макета, внесения предоплаты, за&nbsp;2&nbsp;дня закупаем необходимое количество материала и&nbsp;перевозим в&nbsp;мастерскую для сборки. Заказы обрабатываются по&nbsp;очереди, по&nbsp;мере поступления. Время изготовления инсталляции зависит от&nbsp;выбранного рисунка.
            </p>
            <p>
                Поклейка 1&nbsp;м2&nbsp;ягеля занимает 4&nbsp;ч&nbsp;&mdash; это самый трудоёмкий материал. Изначально выглядит как отросток мха толщиной в&nbsp;2-3&nbsp;пальца. Сначала собираю его воедино на&nbsp;ладони, потом срезаю корешок, чтобы выровнять шапочки по&nbsp;высоте. Кстати, отличное занятие для развития мелкой моторики рук.
            </p>
            <p>
                Кочки, наоборот, подбираются разной высоты для фактурности картины. Они должны идеально состыковываться бочками, чтобы смотреться единой структурой. Это творческий процесс с&nbsp;соблюдением правила &laquo;золотого сечения&raquo;. На&nbsp;раскладку 1&nbsp;кв.&nbsp;м&nbsp;кочек уходит около 2&nbsp;ч.
            </p>
            <p>
                Самый быстрый по&nbsp;расклейке&nbsp;&mdash; пластовой мох. Процедура занимает где-то час. К&nbsp;тому&nbsp;же, это увлекательно&nbsp;&mdash; напоминает игру в&nbsp;пазлы.
            </p>
            <p>
                Если заказчик выбрал микс мхов, добавление стабилизированных растений или цветов, то&nbsp;панно выкладывается слоями. Большинство проектов многослойны и&nbsp;каждый из&nbsp;них требует тщательной проработки. Спешка здесь неуместна. Наши работы из&nbsp;стабилизированных растений сохраняют первозданный вид около 10&nbsp;лет.
            </p>
            <p>
                В&nbsp;среднем, зелёная картина стандартного размера готова через 10&nbsp;дней. Если к&nbsp;панно заказана рамка с&nbsp;подсветкой, добавляем ещё 10&nbsp;на изготовление.
            </p>
            <p>
                После чего согласовывается дата и&nbsp;время на&nbsp;доставку и&nbsp;монтаж.
            </p>
            <p>
                Вот так становятся счастливыми владельцами зелёной роскоши, которая оживляет интерьер, вызывает исключительно положительные эмоции и&nbsp;восхищение гостей дома.
            </p>
            <p>
                Материл: мох натуральный стабилизированный (кочки,пластовой), папоротник,тики, миг ферн, николи, амарант, брум, питоспорум.
            </p>
            <p>
                Размер: 2950*1000мм- 2&nbsp;шт 2950* 300&nbsp;мм;
                <br />
                Общей площадью 6,7 кв.м
                <br />
                ИТОГО: 185&nbsp;000
            </p>
		`,
		'slider': {
			'alt': 'Озеленение для кабинета руководителя',
			slider : [
				{img: './img/content/inner/4/1.jpg',},
				{img: './img/content/inner/4/2.jpg',},
				{img: './img/content/inner/4/3.jpg',},
				{img: './img/content/inner/4/4.jpg',},
				{img: './img/content/inner/4/5.jpg',},
				{img: './img/content/inner/4/6.jpg',},
				{img: './img/content/inner/4/7.jpg',},
			],
			thumbs : [
				{img: './img/content/inner/4/thumbs/1.png',},
				{img: './img/content/inner/4/thumbs/2.png',},
				{img: './img/content/inner/4/thumbs/3.png',},
				{img: './img/content/inner/4/thumbs/4.png',},
				{img: './img/content/inner/4/thumbs/5.png',},
				{img: './img/content/inner/4/thumbs/6.png',},
				{img: './img/content/inner/4/thumbs/7.png',},
			],
		},
	})
	include ../../blocks/components/footer-inner/footer-inner
		
block scripts
	script(src="https://okfito.ru/js/jquery.js")
	script(src="https://okfito.ru/js/swiper-bundle.js")
	script(src="https://okfito.ru/js/jquery.mask.js")
	script(src="./js/inner.js")