extends ../layouts/default
include ../../blocks/components/panno-inner/panno-inner-temp

block variables
	- const title = "Озеленение переговорной комнаты"

block styles
	link(rel="stylesheet" href='./styles/inner.css')

block content
	include ../../blocks/components/form/form-intro
	include ../../blocks/components/menu/menu-mobile
	include ../../blocks/components/menu/menu
	+menu({
		class:'panel-fix panel-fix--inner'
	})
	+panno-inner({
		'title':'Озеленение переговорной комнаты',
		'location':'ЖК «Огни», ул. Лобачевского, 114',
		'price':'195 000 ₽',
		'params': [
			{
				'title':'Площадь',
				'value':'3,9 м²',
			},
			{
				'title':'Сроки',
				'value':'1 месяц',
			},
		],
		'desc':`
			<p>
                Что лучше: вертикальное или горизонтальное озеленение?
                <br />
                Комнатные растения&nbsp;&mdash; желанный атрибут в&nbsp;интерьере. Их&nbsp;достоинства неоспоримы. Цветы не&nbsp;просто красивы, но&nbsp;и&nbsp;приносят пользу для психоэмоционального и&nbsp;физического здоровья человека, меняют атмосферу в&nbsp;доме. Именно поэтому на&nbsp;протяжении веков люди украшают зеленью жилища, создают оранжереи и&nbsp;зимние сады.
                <br />
                К&nbsp;сожалению, не&nbsp;все могут позволить себе обилие живой растительности из-за нехватки времени, знаний об&nbsp;уходе, места для расстановки, отсутствия подходящих условий. Так что&nbsp;же делать, если хочется вырастить собственный оазис? Выбираем оптимальный способ размещения растений.
                <br />
                Горизонтальное озеленение&nbsp;&mdash; знакомое с&nbsp;детства расположение цветочных горшков на&nbsp;подоконниках, предметах мебели, полу.
			</p>
            <p>
                Плюсы:
			</p>
            <ul>
                <li>Доступность&nbsp;&mdash; используются существующие поверхности.</li>
                <li>Самостоятельный уход.</li>
			</ul>
            <p>
                Минусы:
			</p>
            <ul>
                <li>Занимает полезную площадь.</li>
                <li>Нужен постоянный полив, удобрение, опрыскивание, обрезка, удаление сухих листьев.</li>
                <li>Недостаток визуальной чистоты.</li>
			</ul>
            <p>
                Вертикальное озеленение&nbsp;&mdash; размещение домашних цветов на&nbsp;стенах (фитоконструкции) и&nbsp;специальных приспособлениях (подвесные кашпо, стойки, опоры).
			</p>
            <p>
                Плюсы:
			</p>
            <ul>
                <li>Экономия пространства.</li>
                <li>Украшение и&nbsp;изюминка интерьера</li>
                <li>Шумоизоляция.</li>
                <li>Автоматический полив и&nbsp;удобрение.</li>
                <li>Применимо в&nbsp;комнатах любого размера.</li>
                <li>Красота без усилий.</li>
			</ul>
            <p>
                Минусы:
			</p>
            <ul>
                <li>Непростой монтаж конструкций.</li>
                <li>Дополнительные денежные затраты.</li>
			</ul>
            <p>
                Если у&nbsp;вас скопилось много зелёных экземпляров по&nbsp;всей квартире, их&nbsp;можно переместить в&nbsp;фитокартину. Питание происходит по&nbsp;таймеру водой с&nbsp;питательными веществами. При необходимости приезжаем на&nbsp;сервисное обслуживание, чтобы подправить форму панно и&nbsp;освежить внешний вид.
			</p>
            <p>
                Как видите, достоинств у&nbsp;второго способа значительно больше, так как он&nbsp;помогает экономить поистине ценные ресурсы&nbsp;&mdash; ваши силы и&nbsp;время.
			</p>
            <p>
                НА&nbsp;ФОТО
			</p>
			<ul>
				<li>
                    Фитостена 650* 2000мм&nbsp;&mdash; 3шт
                    <br />
                    Общей S&nbsp;&mdash; 3,9м2
                    <br />
                    &mdash;&nbsp;каркас вспененный ПВХ 10&nbsp;мм
                    <br />
                    &mdash;&nbsp;резервуар 650*250*400&nbsp;мм;
                    <br />
                    &mdash;&nbsp;растения &laquo;Стандарт&raquo; H25&nbsp;&mdash; 30&nbsp;см&nbsp;&mdash; 45&nbsp;шт;
                    <br />
                    &mdash;&nbsp;система полива( насос, таймера, шланг, соединители, капельницы)
                </li>
                <li>Монтаж фитоконструкций и&nbsp;пусконаладочные работы</li>
                <li>Прожектор шинопроводный, трековый TL- LBX &minus;6&nbsp;шт</li>
                <li>Гарантийное сервисное обслуживание фитостен 2&nbsp;раза в&nbsp;месяц (в&nbsp;подарок 1&nbsp;месяц )</li>
			</ul>
			<p>
                ИТОГО: 195 000руб
			</p>
		`,
		'slider': {
			'alt': 'Озеленение переговорной комнаты',
			slider : [
				{img: './img/content/inner/19/1.jpg',},
				{img: './img/content/inner/19/2.jpg',},
				{img: './img/content/inner/19/3.jpg',},
				{img: './img/content/inner/19/4.jpg',},
				{img: './img/content/inner/19/5.jpg',},
				{img: './img/content/inner/19/6.jpg',},
			],
			thumbs : [
				{img: './img/content/inner/19/thumbs/1.png',},
				{img: './img/content/inner/19/thumbs/2.png',},
				{img: './img/content/inner/19/thumbs/3.png',},
				{img: './img/content/inner/19/thumbs/4.png',},
				{img: './img/content/inner/19/thumbs/5.png',},
				{img: './img/content/inner/19/thumbs/6.png',},
			],
		},
	})
	include ../../blocks/components/footer-inner/footer-inner
		
block scripts
	script(src="https://okfito.ru/js/jquery.js")
	script(src="https://okfito.ru/js/swiper-bundle.js")
	script(src="https://okfito.ru/js/jquery.mask.js")
	script(src="./js/inner.js")