extends ../layouts/default
include ../../blocks/components/panno-inner/panno-inner-temp

block variables
	- const title = "Панно с растениями в спальне"

block styles
	link(rel="stylesheet" href='./styles/inner.css')

block content
	include ../../blocks/components/form/form-intro
	include ../../blocks/components/menu/menu-mobile
	include ../../blocks/components/menu/menu
	+menu({
		class:'panel-fix panel-fix--inner'
	})
	+panno-inner({
		'title':'Панно с растениями в спальне',
		'location':'ЖК Символ пр. Невельского, 1, корп. 2',
		'price':'106 807 ₽',
		'params': [
			{
				'title':'Площадь',
				'value':'3,09 м²',
			},
			{
				'title':'Сроки',
				'value':'1 месяц',
			},
		],
		'desc':`
			<p>По&nbsp;жизни я&nbsp;искренний человек и&nbsp;это отражается на&nbsp;деятельности. Когда только начинался мой путь в&nbsp;сфере фитодизайна, выбирала похожую по&nbsp;духу и&nbsp;ценностям компанию. Поэтому впоследствии и&nbsp;стала партнёром студии озеленения &laquo;Green Kim&raquo;.</p>
			<p>Считаю, что важно вести открытый диалог с&nbsp;заказчиком и&nbsp;при необходимости показывать закулисье. На&nbsp;этапе согласования технических моментов, предоставляем клиенту ускоренную съёмку (таймлапс) процесса сборки от&nbsp;начала и&nbsp;до&nbsp;конца. Это помогает сформировать полное понимание и&nbsp;уверенность в&nbsp;крутом результате.</p>
			<p>На&nbsp;постоянной основе сотрудничаем с&nbsp;дизайнерами интерьера и&nbsp;архитекторами. Образуем сильный тандем и&nbsp;обмениваемся идеями. Свежий толковый взгляд со&nbsp;стороны всегда полезен. В&nbsp;этом проекте мы&nbsp;вместе с&nbsp;дизайнером создавали красоту в&nbsp;квартире в&nbsp;ЖК&nbsp;&laquo;Символ&raquo;. Мы&nbsp;создавали панно из&nbsp;стабилизированных растений и&nbsp;мхов. Согласовали определённый макет. По&nbsp;нему собрала картину, но&nbsp;коллега захотела внести корректировки: убрать кочки мха внизу и&nbsp;добавить листьев в&nbsp;другом месте. В&nbsp;итоге с&nbsp;внесёнными изменениями фитопанно получилось ещё круче. Именно поэтому нравится работать с&nbsp;профессионалами. Позволяет взглянуть по-новому, попробовать другой стиль и&nbsp;разнообразить творчество друг друга.</p>
			<p>Время от&nbsp;времени сталкивается с&nbsp;нетипичными пожеланиями заказчика, которые предполагают сложные технические решения. Отличный челлендж для нашей команды. Испытываем особенную гордость и&nbsp;удовлетворение от&nbsp;создания подобных фитоконструкций и&nbsp;модулей.</p>
			<p>
				Главная задача компании&nbsp;&mdash; совершенствоваться и&nbsp;становится лучше каждый день. Вместо того чтобы что-то скрывать или вообще удалять отрицательные отзывы, предпочитаем говорить о&nbsp;сложностях, признавать&nbsp;их, обсуждать и&nbsp;решать. Только так возможен рост.
				<br />
				Инсталляции изготавливаются индивидуально исходя из&nbsp;предпочтений клиента, размеров и&nbsp;бюджета.
			</p>
			<p>Стоимость 1&nbsp;м2&nbsp;материала: ягель 19&nbsp;250&nbsp;₽, кочка 32&nbsp;000&nbsp;₽, пластовой 16&nbsp;000&nbsp;₽.</p>
			<p>Микс из&nbsp;трёх видов мха&nbsp;&mdash; 25&nbsp;000&nbsp;₽.</p>
			<p>Возможно добавление стабилизированных растений и&nbsp;цветов в&nbsp;композицию за&nbsp;отдельную плату.</p>
			<p>Изготовление зелёной картины занимает 10&nbsp;дней, на&nbsp;рамку с&nbsp;подсветкой понадобится ещё столько&nbsp;же времени.</p>
			<p>
				На&nbsp;фото: панно в&nbsp;спальне.<br />
				Размер: 1050&nbsp;мм х&nbsp;2940&nbsp;мм = 3,09 м2.<br />
				Состав: комбинированная инсталляция из&nbsp;мха пластовой и&nbsp;кочки с&nbsp;папоротником, тополем, тиками, соцветиями.<br />
				Стоимость: 29 800,00/92 082,00&nbsp;₽.<br />
				Основа ПВХ с&nbsp;бортами и&nbsp;покраской̆: 2 500/7 725,00&nbsp;₽.<br />
				Монтаж: 4 000,00&nbsp;₽.<br />
				Доставка по&nbsp;Москве: 3 000,00&nbsp;₽.<br />
				ИТОГО: 106 807,00&nbsp;₽.
			</p>
		`,
		'slider': {
			'alt': 'Панно с растениями в спальне',
			slider : [
				{img: './img/content/inner/4/1.jpg',},
				{img: './img/content/inner/4/2.jpg',},
				{img: './img/content/inner/4/3.jpg',},
				{img: './img/content/inner/4/4.jpg',},
				{img: './img/content/inner/4/5.jpg',},
				{img: './img/content/inner/4/6.jpg',},
				{img: './img/content/inner/4/7.jpg',},
			],
			thumbs : [
				{img: './img/content/inner/4/thumbs/1.png',},
				{img: './img/content/inner/4/thumbs/2.png',},
				{img: './img/content/inner/4/thumbs/3.png',},
				{img: './img/content/inner/4/thumbs/4.png',},
				{img: './img/content/inner/4/thumbs/5.png',},
				{img: './img/content/inner/4/thumbs/6.png',},
				{img: './img/content/inner/4/thumbs/7.png',},
			],
		},
	})
	include ../../blocks/components/footer-inner/footer-inner
		
block scripts
	script(src="https://okfito.ru/js/jquery.js")
	script(src="https://okfito.ru/js/swiper-bundle.js")
	script(src="https://okfito.ru/js/jquery.mask.js")
	script(src="./js/inner.js")