extends ../layouts/default
include ../../blocks/components/panno-inner/panno-inner-temp

block variables
	- const title = "Угловое озеленение"

block styles
	link(rel="stylesheet" href='./styles/inner.css')

block content
	include ../../blocks/components/menu/menu-mobile
	include ../../blocks/components/menu/menu
	+menu({
		class:'panel-fix panel-fix--inner'
	})
	+panno-inner({
		'title':'Угловое озеленение',
		'location':'ЖК «Дом Серебряный бор», ул.Живописная, дом 21',
		'price':'109 750 ₽',
		'params': [
			{
				'title':'Площадь',
				'value':'3,43 м²',
			},
			{
				'title':'Сроки',
				'value':'1 месяц',
			},
		],
		'desc':`
			<p>Переезд в&nbsp;Москву стал переломным событием во&nbsp;всех сферах жизни. Продвинутый город показал возможности для развития в&nbsp;области озеленения. Наконец я&nbsp;могла работать с&nbsp;растениями, которые вышли из&nbsp;воды.</p>
			<p>Здесь встретила любимого человека, который открыл для меня мир вертикального озеленения. В&nbsp;2014 году присоединилась к&nbsp;компании &laquo;Emerald Green&raquo;, теперь &laquo;Green Kim&raquo;.</p>
			<p>Тогда впервые участвовала в&nbsp;выставке архитектуры и&nbsp;дизайна &laquo;АРХ Москва&raquo;.</p>
			<p>Масштабное мероприятие состоялось в&nbsp;2017&nbsp;в павильоне автомобилей Scania. Для оформления экозоны с&nbsp;водопадом, нескольких фитостен использовали 200&nbsp;кв.&nbsp;м&nbsp;пластового мха. Это был фееричный монтаж за&nbsp;2&nbsp;дня. Получилось живо и&nbsp;изысканно.</p>
			<p>В&nbsp;&laquo;Крокус Экспо&raquo; украшали строительную выставку &laquo;Красивые дома&raquo; (2017-2019).</p>
			<p>Не&nbsp;обошлось без нашей зелёной стены и&nbsp;на&nbsp;выставке интерьеров &quot;MosBuild&rsquo; (2017, 2020).</p>
			<p>На&nbsp;сегодня за&nbsp;плечами 150 проектов разных масштабов для квартир, частных домов, кафе, ресторанов, банков, офисов крупных компаний.</p>
			<p>
			На&nbsp;фото:<br />
			Оформление угла стабилизированным мхом
			</p>
			<p>
			2900*760мм и&nbsp;2900*460мм<br />
			Материл: мох натуральный стабилизированный (кочки,пластовой), папоротник (три вида),тики, миг, николи, мигферн, брум, тополь, штоб.
			</p>
			<p>
			Цена изделия: 109 760руб.<br />
			Рамка со&nbsp;светодиодной подсветкой: 40 000руб<br />
			Монтаж, доставка&nbsp;&mdash; обсуждаемо индивидуально.
			</p>
		`,
		'slider': {
			'alt': 'Угловое озеленение',
			slider : [
				{img: './img/content/inner/3/1.jpg',},
				{img: './img/content/inner/3/2.jpg',},
				{img: './img/content/inner/3/3.jpg',},
				{img: './img/content/inner/3/4.jpg',},
				{img: './img/content/inner/3/5.jpg',},
				{img: './img/content/inner/3/6.jpg',},
				{img: './img/content/inner/3/7.jpg',},
			],
			thumbs : [
				{img: './img/content/inner/3/thumbs/1.png',},
				{img: './img/content/inner/3/thumbs/2.png',},
				{img: './img/content/inner/3/thumbs/3.png',},
				{img: './img/content/inner/3/thumbs/4.png',},
				{img: './img/content/inner/3/thumbs/5.png',},
				{img: './img/content/inner/3/thumbs/6.png',},
				{img: './img/content/inner/3/thumbs/7.png',},
			],
		},
	})
	include ../../blocks/components/footer-inner/footer-inner
		
block scripts
	script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js")
	script(src="https://code.jquery.com/ui/1.13.2/jquery-ui.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js")
	script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
	//- script(src="https://cdn.jsdelivr.net/npm/luxon@3.0.4/build/global/luxon.min.js")

	//- link(rel="stylesheet" href="./styles/swiper-bundle.min.css")
	//- https://unpkg.com/swiper/swiper-bundle.min.js
	//- script(src="https://static.faberlic.com/fl_bloom/js/swiper-bundle.js")
	//- script(src="https://static.faberlic.com/fl_bloom/js/gsap.min.js")
	//- script(src="https://static.faberlic.com/fl_bloom/js/ScrollTrigger.min.js")
	//- script(src="https://static.faberlic.com/fl_bloom/js/ScrollToPlugin.min.js")
	//- script(src="https://static.faberlic.com/scripts/swiper-bundle.min.js")
	script(src="./js/inner.js")