extends ../layouts/default
include ../../blocks/components/panno-inner/panno-inner-temp

block variables
	- const title = "Вертикальное озеленение"

block styles
	link(rel="stylesheet" href='./styles/inner.css')

block content
	include ../../blocks/components/form/form-intro
	include ../../blocks/components/menu/menu-mobile
	include ../../blocks/components/menu/menu
	+menu({
		class:'panel-fix panel-fix--inner'
	})
	+panno-inner({
		'title':'Вертикальное озеленение',
		'location':'ЖК «Дом Серебряный бор», ул.Живописная, дом 21',
		'price':'109 750 ₽',
		'params': [
			{
				'title':'Площадь',
				'value':'3,43 м²',
			},
			{
				'title':'Сроки',
				'value':'1 месяц',
			},
		],
		'desc':`
			<p>
			</p>
		`,
		'slider': {
			'alt': 'Вертикальное озеленение',
			slider : [
				{img: './img/content/inner/4/1.jpg',},
				{img: './img/content/inner/4/2.jpg',},
				{img: './img/content/inner/4/3.jpg',},
				{img: './img/content/inner/4/4.jpg',},
				{img: './img/content/inner/4/5.jpg',},
				{img: './img/content/inner/4/6.jpg',},
				{img: './img/content/inner/4/7.jpg',},
			],
			thumbs : [
				{img: './img/content/inner/4/thumbs/1.png',},
				{img: './img/content/inner/4/thumbs/2.png',},
				{img: './img/content/inner/4/thumbs/3.png',},
				{img: './img/content/inner/4/thumbs/4.png',},
				{img: './img/content/inner/4/thumbs/5.png',},
				{img: './img/content/inner/4/thumbs/6.png',},
				{img: './img/content/inner/4/thumbs/7.png',},
			],
		},
	})
	include ../../blocks/components/footer-inner/footer-inner
		
block scripts
	script(src="https://okfito.ru/js/jquery.js")
	script(src="https://okfito.ru/js/swiper-bundle.js")
	script(src="https://okfito.ru/js/jquery.mask.js")
	script(src="./js/inner.js")