extends ../layouts/default
include ../../blocks/components/panno-inner/panno-inner-temp

block variables
	- const title = "Живые растения для кабинета"

block styles
	link(rel="stylesheet" href='./styles/inner.css')

block content
	include ../../blocks/components/form/form-intro
	include ../../blocks/components/menu/menu-mobile
	include ../../blocks/components/menu/menu
	+menu({
		class:'panel-fix panel-fix--inner'
	})
	+panno-inner({
		'title':'Живые растения для кабинета',
		'location':'Ул.Никопольская дом 4',
		'price':'250 000 ₽',
		'params': [
			{
				'title':'Площадь',
				'value':'4,96 м²',
			},
			{
				'title':'Сроки',
				'value':'1 месяц',
			},
		],
		'desc':`
			<p>
                Сто дел, везде успеть, преодолеть пробки, потолкаться в толпе, уладить конфликты и при этом оставаться приятным человеком со штилем в душе ой как непросто. Крайне необходима подпитка внутренних сил и поддержание энергии. Живём в очень активное время, что, конечно, увлекательно и здорово. Но после дня в мегаполисе из бетона, стекла, пластика и металла так хочется перенестись в парк, лес, к водоёму. Главное, поближе к природе. Жители больших городов острее ощущают недостаток натуральности в повседневной жизни.
            </p>
            <p>
                В погоне за эмоциональным комфортом и отдушиной обращаемся к растениям, ведь это самый простой и доступный способ восполнить нехватку естественности. Зелёные помощники дарят чувство безопасности. Наполняют помещение первозданной красотой. Создают комфортную дружелюбную среду.
            </p>
            <p>
                Фитокартина или фитостена может стать компактной версией вашего личного сада в квартире. Всегда начинаем с детального обсуждения предпочтений. Определяемся с местом размещения, размером, составом, функционалом. Показываю несколько примеров готовых работ, чтобы заказчик мог определиться со стилем панно. Рекомендую наиболее сбалансированные сочетания.
            </p>
            <p>
                Стоимость картины из живых растений зависит от того сколько видов высадили.
            </p>
            <p>
                1 кв. м обойдётся от 38 000 руб., если использовали 1-2 разновидности растительности, от 42 000 руб. - 5-12 сортов, с цветущими – от 50 000 руб.
            </p>
            <p>
                Цены с учётом изготовления и монтажа специального фитомодуля с автополивом.
            </p>
            <p>
                Дополнительно оплачивается искусственное освещение светодиодными лампами с определённым спектром для хорошего роста цветов и сервисное обслуживание.
            </p>
            <p>
                Чтобы создать неповторимый зелёный уголок в своём доме, офисе - звоните, записывайтесь на консультацию к эксперту в или отправляйте сообщение в WhatsApp +7 966 073-50-95.
            </p>
            <p>
                НА ФОТО
            </p>
			<ul>
                <li>Фитостена 900* 2750мм – 2шт</li>
                <li>
                    Общей S – 4,96м2
                    <br />
                    - каркас вспененный ПВХ 10 мм
                    <br />
                    - резервуар 650*250*400 мм;
                    <br />
                    - растения «Стандарт» H25 - 30 см – 45 шт;
                    <br />
                    - система полива( насос, таймера, шланг, соединители, капельницы)
                </li>
                <li>Монтаж фитоконструкций и пусконаладочные работы</li>
                <li>Прожектор шинопроводный, трековый TL- LBX -6 шт</li>
                <li>Гарантийное сервисное обслуживание фитостен 2 раза в месяц ( в подарок 1 месяц )</li>
			</ul>
            <p>
                ИТОГО: 250 000руб
            </p>
		`,
		'slider': {
			'alt': 'Живые растения для кабинета',
			slider : [
				{img: './img/content/inner/20/1.jpg',},
				{img: './img/content/inner/20/2.jpg',},
				{img: './img/content/inner/20/3.jpg',},
				{img: './img/content/inner/20/4.jpg',},
				{img: './img/content/inner/20/5.jpg',},
				{img: './img/content/inner/20/6.jpg',},
			],
			thumbs : [
				{img: './img/content/inner/20/thumbs/1.png',},
				{img: './img/content/inner/20/thumbs/2.png',},
				{img: './img/content/inner/20/thumbs/3.png',},
				{img: './img/content/inner/20/thumbs/4.png',},
				{img: './img/content/inner/20/thumbs/5.png',},
				{img: './img/content/inner/20/thumbs/6.png',},
			],
		},
	})
	include ../../blocks/components/footer-inner/footer-inner
		
block scripts
	script(src="https://okfito.ru/js/jquery.js")
	script(src="https://okfito.ru/js/swiper-bundle.js")
	script(src="https://okfito.ru/js/jquery.mask.js")
	script(src="./js/inner.js")