.footer-inner
    padding em(30) em(20) em(222)
    background url('../img/content/footer-inner/footer-sm.jpg') 0 bottom no-repeat
    background-size 100% auto

    +md-block()
        background-image url('../img/content/footer-inner/footer-md.jpg')
        position relative
        z-index 0
        padding em(100) em(60) em(300)

    +lg-block()
        background-image url('../img/content/footer-inner/footer-lg.jpg')
        padding em(100) em(330) em(400)

.share
    &__title
        text-align center
        font-family $ff2
        font-size: em(24)
        line-height: 100%;      
        margin-bottom (20/24em)

        +md-block()
            font-size em(60)
            margin-bottom (50/60em)

    &__items
        display flex
        flex-wrap: wrap
        justify-content: center

    &__item
        width em(56)
        height em(56)
        background-position 0 0
        background-size contain
        background-repeat no-repeat
        margin em(6)
        color #fff
        border 1px solid #658961
        border-radius: 50%
        display flex
        align-items: center
        justify-content: center
        transition all 0.4s

        svg
            display block
            height auto
            width em(24)

            +md-block()
                width em(44)

        &:hover
            background-color #658961
            
            svg
                path
                    fill #fff
                    transition all 0.4s

        +md-block()
            width em(102)
            height em(102)
            margin em(19)