.panno

    +md-block()
        padding-bottom em(30)
    
    +lg-block()
        padding em(60) 0 em(60)
        position relative

        &:before
            content ''
            position absolute
            right 0
            top em(-52)
            width em(410)
            height em(600)
            background url('../img/content/panno/list-lg.png') 0 0 no-repeat
            background-size contain

    &__header
        font-style: normal;
        font-weight: 400;
        font-size: em(24)
        line-height: 100%;
        text-align: center;
        color: #000000;
        font-family $ff2
        margin-bottom (20/24em)

        +md-block()
            font-size: em(60)
            line-height: 80%;
            margin-bottom (50/60em)

        +lg-block()
            margin-bottom 1em
            line-height 100%

    &__items
        display flex
        flex-wrap: wrap

        +lg-block()
            width em(1552)
            margin 0 auto

    &__item
        width em(159)
        max-width em(159)
        min-width em(159)
        margin-bottom em(2)
        position relative

        +md-block()
            width em(380)
            max-width em(380)
            min-width em(380)
            margin-bottom em(8)

        +lg-block()
            width em(358)
            max-width em(358)
            min-width em(358)
            margin 0 em(15) em(30)

        &:nth-child(odd)
            margin-right auto

            +lg-block()
                margin-right em(15)

        &__img
            display block
            width em(159)
            max-width: 100%
            height auto

            +md-block()
                width em(380)

        &__inner
            position absolute
            left 0
            right 0
            top 0
            bottom 0
            display flex
            flex-direction: column
            justify-content: center
            align-items: center

    &__bottom
        +lg-block()
            max-width: em(1522)
            margin em(20) auto 0
            display flex
            justify-content: space-between
            align-items: center

        &__part
            +lg-block()
                flex-shrink: 1
                flex-basis: 1%
                flex-grow: 1
                display flex
                justify-content: flex-end
    
    &__show-btn-wrap
        text-align center
        padding: em(30) 0 0 0

        +md-block()
            padding: em(50) 0 0 0

        +lg-block()
            padding 0

    &__show-btn
        display: inline-flex
        font-style: normal;
        font-weight: 600;
        font-size: em(10)
        line-height: (10/10em)
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        min-height: (40/10em)
        min-width: (180/10em)
        justify-content: center
        align-items: center
        border-radius: 1.2em
        background-color #64A060
        transition: all 0.4s
        text-decoration none

        +md-block()
            font-size 1em
            min-height: em(70)
            min-width: em(300)
            
        &:hover
            background-color #40763D
            border-color #40763D

.panno__item--panno
    .panno__item__inner
        opacity 0
        transition all 0.4s
        background-color rgba(#000,0.5)
        padding em(26)
        
    .panno__item__title
        font-size 1em
        line-height 120%
        color #fff
        font-style: normal;
        text-align: center;
        margin-bottom em(30)

        +md-block()
            font-size: em(30)
            margin-bottom (50/30em)

    .panno__item__btn-wrap
        text-align center

    .panno__item__btn
        display: inline-flex
        font-style: normal;
        font-weight: 600;
        font-size: em(8)
        line-height: (12/8em)
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        min-height: 4em
        min-width: 12em
        justify-content: center
        align-items: center
        border-radius: 1.2em
        background-color transparent
        transition: all 0.4s
        text-decoration none
        border 2px solid #fff

        +md-block()
            font-size 1em
            min-width: em(250)
            min-height: em(70)

        &:hover
            background-color #64A060
            border-color #64A060
    &:hover
        .panno__item__inner
            opacity 1

.panno__item--fact
    .panno__item__inner
        padding em(12)

        &:before
            position absolute
            content ''
            left 0
            right 0
            top 0
            bottom 0
            opacity 0
            transition all 0.4s
            background-color rgba(#000,0.5)

        +md-block()
            padding em(28)

    .panno__item__title
        font-style: normal;
        font-weight: 800;
        font-size: em(20)
        line-height: 100%;
        color: #FFFFFF;
        position relative
        margin-bottom 1em
        transition: all 0.4s

        transform: translate3d(0, (24/20em), 0)

        +md-block()
            font-size em(46)

        a
            text-decoration none
            color: #FFFFFF;
            text-shadow: 0 0 10px rgba(#000,0.3)

    .panno__item__btn-wrap
        text-align center
        position relative
        opacity 0

    .panno__item__btn
        display: inline-flex
        font-style: normal;
        font-weight: 600;
        font-size: em(8)
        line-height: (12/8em)
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        min-height: 4em
        min-width: 12em
        justify-content: center
        align-items: center
        border-radius: 1.2em
        background-color transparent
        transition: all 0.4s
        text-decoration none
        border 2px solid #fff

        +md-block()
            font-size 1em
            min-width: em(250)
            min-height: em(70)

        &:hover
            background-color #64A060
            border-color #64A060

    &:hover
        .panno__item__inner
            &:before
                opacity 1
        
        .panno__item__btn-wrap
            opacity 1

        .panno__item__title
            transform: translate3d(0, 0, 0)

.panno__item--lg36

    .panno__item__title

        font-size 1em

        +md-block()
            font-size em(36)