include panno-temp

section.section--panno#scrollto-projects
	.panno
		h2.panno__header Наши&nbsp;проекты и&nbsp;интересные&nbsp;факты
		.panno__items#panno__items
			//- 1
			+panno({
				'title':'Озеленение ванной&nbsp;комнаты',
				'alt':'Озеленение ванной&nbsp;комнаты',
				'img_format':'jpg',
				'sm':'./img/content/panno/panno-1-sm',
				'md':'./img/content/panno/panno-1-md',
				'lg':'./img/content/panno/panno-1-lg',
				'btn_title':'подробнее',
				'btn_link':'/ozelenenie-vannoj-komnaty.html',
			})(class="panno__item--panno")

			//- 2
			+panno({
				'title':'Вертикальное озеленение',
				'alt':'Вертикальное озеленение',
				'img_format':'jpg',
				'sm':'./img/content/panno/panno-2-sm',
				'md':'./img/content/panno/panno-2-md',
				'lg':'./img/content/panno/panno-2-lg',
				'btn_title':'подробнее',
				'btn_link':'/vertikalnoe-ozelenenie.html',
			})(class="panno__item--panno")

			//- 3
			+panno({
				'title':'Угловое озеленение',
				'alt':'Угловое озеленение',
				'img_format':'jpg',
				'sm':'./img/content/panno/panno-3-sm',
				'md':'./img/content/panno/panno-3-md',
				'lg':'./img/content/panno/panno-3-lg',
				'btn_title':'подробнее',
				'btn_link':'/uglovoe-ozelenenie.html',
			})(class="panno__item--panno")

			//- 4
			+panno({
				'title':'Панно с&nbsp;растениями в&nbsp;спальне',
				'alt':'Панно с растениями в спальне',
				'img_format':'jpg',
				'sm':'./img/content/panno/panno-4-sm',
				'md':'./img/content/panno/panno-4-md',
				'lg':'./img/content/panno/panno-4-lg',
				'btn_title':'подробнее',
				'btn_link':'/panno-s-rasteniyami-v-spalne.html',
			})(class="panno__item--panno")

			//- 5
			+panno({
				'title':'Озеленение ванной комнаты',
				'alt':'Озеленение ванной комнаты',
				'img_format':'jpg',
				'sm':'./img/content/panno/panno-5-sm',
				'md':'./img/content/panno/panno-5-md',
				'lg':'./img/content/panno/panno-5-lg',
				'btn_title':'подробнее',
				'btn_link':'/ozelenenie-vannoj-komnaty2.html',
			})(class="panno__item--panno")

			//- 6
			+panno({
				'title':'Что такое стабилизи-рованный мох?',
				'alt':'Что такое стабилизи-рованный мох?',
				'img_format':'jpg',
				'sm':'./img/content/panno/panno-6-sm',
				'md':'./img/content/panno/panno-6-md',
				'lg':'./img/content/panno/panno-6-lg',
				'link':'/chto-takoe-stabilizi-rovannyj-moh.html',
				'btn_title':'подробнее',
				'btn_link':'/chto-takoe-stabilizi-rovannyj-moh.html',
			})(class="panno__item--fact")


			//- 7
			+panno({
				'title':'Панно с&nbsp;подсветкой и&nbsp;логотипом',
				'alt':'Панно с&nbsp;подсветкой и&nbsp;логотипом',
				'img_format':'jpg',
				'sm':'./img/content/panno/panno-7-sm',
				'md':'./img/content/panno/panno-7-md',
				'lg':'./img/content/panno/panno-7-lg',
				'btn_title':'подробнее',
				'btn_link':'/panno-s-podsvetkoj-i-logotipom.html',
			})(class="panno__item--panno")

			//- 8
			+panno({
				'title':'Фитостена из мха и&nbsp;растений',
				'alt':'Фитостена из мха и&nbsp;растений',
				'img_format':'jpg',
				'sm':'./img/content/panno/panno-8-sm',
				'md':'./img/content/panno/panno-8-md',
				'lg':'./img/content/panno/panno-8-lg',
				'btn_title':'подробнее',
				'btn_link':'/fitostena-iz-mha-i-rastenij.html',
			})(class="panno__item--panno")

			//- 9
			+panno({
				'title':'Озеленение прихожей',
				'alt':'Озеленение прихожей',
				'img_format':'jpg',
				'sm':'./img/content/panno/panno-9-sm',
				'md':'./img/content/panno/panno-9-md',
				'lg':'./img/content/panno/panno-9-lg',
				'btn_title':'подробнее',
				'btn_link':'/ozelenenie-prihozhej.html',
			})(class="panno__item--panno")

			//- 10
			+panno({
				'title':'Инсталляция из растений на стене',
				'alt':'Инсталляция из растений на стене',
				'img_format':'jpg',
				'sm':'./img/content/panno/panno-10-sm',
				'md':'./img/content/panno/panno-10-md',
				'lg':'./img/content/panno/panno-10-lg',
				'btn_title':'подробнее',
				'btn_link':'/installyatsiya-iz-rastenij-na-stene.html',
			})(class="panno__item--panno")

			//- 11
			+panno({
				'title':'Фитостена из мха и&nbsp;растений',
				'alt':'Фитостена из мха и&nbsp;растений',
				'img_format':'jpg',
				'sm':'./img/content/panno/panno-11-sm',
				'md':'./img/content/panno/panno-11-md',
				'lg':'./img/content/panno/panno-11-lg',
				'btn_title':'подробнее',
				'btn_link':'/fitostena-iz-mha-i-rastenij2.html',
			})(class="panno__item--panno")

			//- 12
			+panno({
				'title':'Как ухаживать за стабилизи-рованным мхом и панно',
				'alt':'Как ухаживать за стабилизи-рованным мхом и панно',
				'img_format':'jpg',
				'sm':'./img/content/panno/panno-12-sm',
				'md':'./img/content/panno/panno-12-md',
				'lg':'./img/content/panno/panno-12-lg',
				'link':'/kak-uhazhivat-za-stabilizirovannym-mhom-i-panno.html',
				'btn_title':'подробнее',
				'btn_link':'/kak-uhazhivat-za-stabilizirovannym-mhom-i-panno.html',
			})(class="panno__item--fact panno__item--lg36")

			//- 13
			+panno({
				'title':'Оформление зоны ресепшен',
				'alt':'Оформление зоны ресепшен',
				'img_format':'jpg',
				'sm':'./img/content/panno/panno-13-sm',
				'md':'./img/content/panno/panno-13-md',
				'lg':'./img/content/panno/panno-13-lg',
				'btn_title':'подробнее',
				'btn_link':'/oformlenie-zony-resepshen.html',
			})(class="panno__item--panno")

			//- 14
			+panno({
				'title':'Озеленение для&nbsp;кабинета руководителя',
				'alt':'Озеленение для кабинета руководителя',
				'img_format':'jpg',
				'sm':'./img/content/panno/panno-14-sm',
				'md':'./img/content/panno/panno-14-md',
				'lg':'./img/content/panno/panno-14-lg',
				'btn_title':'подробнее',
				'btn_link':'/ozelenenie-dlya-kabineta-rukovoditelya.html',
			})(class="panno__item--panno")

			//- 15
			+panno({
				'title':'Как ухаживать за&nbsp;бонсай?',
				'alt':'Как ухаживать за&nbsp;бонсай?',
				'img_format':'jpg',
				'sm':'./img/content/panno/panno-15-sm',
				'md':'./img/content/panno/panno-15-md',
				'lg':'./img/content/panno/panno-15-lg',
				'btn_title':'подробнее',
				'btn_link':'/kak-uhazhivat-za-bonsay.html',
			})(class="panno__item--panno")

			//- 16
			+panno({
				'title':'Растения в офисе. Что лучше: вертикальное или горизонтальное озеленение?',
				'alt':'Растения в офисе. Что лучше: вертикальное или горизонтальное озеленение?',
				'img_format':'jpg',
				'sm':'./img/content/panno/panno-16-sm',
				'md':'./img/content/panno/panno-16-md',
				'lg':'./img/content/panno/panno-16-lg',
				'btn_title':'подробнее',
				'btn_link':'/rasteniya-v-ofise-chto-luchshe-vertikalnoe-ili-gorizontalnoe-ozelenenie.html',
			})(class="panno__item--panno")

			//- 17
			+panno({
				'title':'Вертикальное озеленение из&nbsp;живых растений',
				'alt':'Вертикальное озеленение из&nbsp;живых растений',
				'img_format':'jpg',
				'sm':'./img/content/panno/panno-17-sm',
				'md':'./img/content/panno/panno-17-md',
				'lg':'./img/content/panno/panno-17-lg',
				'btn_title':'подробнее',
				'btn_link':'/vertikalnoe-ozelenenie-iz-zhivyh-rasteniy.html',
			})(class="panno__item--panno")

			//- 18
			+panno({
				'title':'Сервисное обслуживание',
				'alt':'Сервисное обслуживание',
				'img_format':'jpg',
				'sm':'./img/content/panno/panno-18-sm',
				'md':'./img/content/panno/panno-18-md',
				'lg':'./img/content/panno/panno-18-lg',
				'btn_title':'подробнее',
				'btn_link':'/servisnoe-obsluzhivanie.html',
			})(class="panno__item--panno")

			//- 19
			+panno({
				'title':'Озеленение переговорной комнаты',
				'alt':'Озеленение переговорной комнаты',
				'img_format':'jpg',
				'sm':'./img/content/panno/panno-19-sm',
				'md':'./img/content/panno/panno-19-md',
				'lg':'./img/content/panno/panno-19-lg',
				'btn_title':'подробнее',
				'btn_link':'/ozelenenie-peregovornoy-komnaty.html',
			})(class="panno__item--panno")

			//- 20
			+panno({
				'title':'Живые растения для&nbsp;кабинета',
				'alt':'Живые растения для кабинета',
				'img_format':'jpg',
				'sm':'./img/content/panno/panno-20-sm',
				'md':'./img/content/panno/panno-20-md',
				'lg':'./img/content/panno/panno-20-lg',
				'btn_title':'подробнее',
				'btn_link':'/zhivye-rasteniya-dlya-kabineta.html',
			})(class="panno__item--panno")

		#pagination-container