section.section--panno
    .panno
        h2.panno__header Наши&nbsp;проекты и&nbsp;интересные&nbsp;факты
        .panno__items
            .panno__item
                .panno__item__img-wrap
                    picture.panno__item____picture.panno__item__picture--sm.picture--sm
                        source(type="image/webp", data-srcset="./img/content/panno/panno-1-sm.webp")
                        source(type="image/jpg", data-srcset="./img/content/panno/panno-1-sm.jpg")
                        img(data-src="./img/content/panno/panno-1-sm.jpg", alt="Озеленение ванной&nbsp;комнаты").panno__item__img
                    picture.panno__item____picture.panno__item__picture--md.picture--md
                        source(type="image/webp", data-srcset="./img/content/panno/panno-1-md.webp")
                        source(type="image/jpg", data-srcset="./img/content/panno/panno-1-md.jpg")
                        img(data-src="./img/content/panno/panno-1-md.jpg", alt="Озеленение ванной&nbsp;комнаты").panno__item__img
                    picture.panno__item____picture.panno__item__picture--lg.picture--lg
                        source(type="image/webp", data-srcset="./img/content/panno/panno-1-lg.webp")
                        source(type="image/jpg", data-srcset="./img/content/panno/panno-1-lg.jpg")
                        img(data-src="./img/content/panno/panno-1-lg.jpg", alt="Озеленение ванной&nbsp;комнаты").panno__item__img
                .panno__item__inner
                    .panno__item__title Озеленение ванной&nbsp;комнаты
                    .panno__item__btn-wrap
                        a.panno__item__btn(href="#") Подробнее
            
            .panno__item
                .panno__item__img-wrap
                    picture.panno__item____picture.panno__item__picture--sm.picture--sm
                        source(type="image/webp", data-srcset="./img/content/panno/panno-2-sm.webp")
                        source(type="image/jpg", data-srcset="./img/content/panno/panno-2-sm.jpg")
                        img(data-src="./img/content/panno/panno-2-sm.jpg", alt="Озеленение ванной&nbsp;комнаты").panno__item__img
                    picture.panno__item____picture.panno__item__picture--md.picture--md
                        source(type="image/webp", data-srcset="./img/content/panno/panno-2-md.webp")
                        source(type="image/jpg", data-srcset="./img/content/panno/panno-2-md.jpg")
                        img(data-src="./img/content/panno/panno-2-md.jpg", alt="Озеленение ванной&nbsp;комнаты").panno__item__img
                    picture.panno__item____picture.panno__item__picture--lg.picture--lg
                        source(type="image/webp", data-srcset="./img/content/panno/panno-2-lg.webp")
                        source(type="image/jpg", data-srcset="./img/content/panno/panno-2-lg.jpg")
                        img(data-src="./img/content/panno/panno-2-lg.jpg", alt="Озеленение ванной&nbsp;комнаты").panno__item__img
                .panno__item__inner
                    .panno__item__title Озеленение ванной&nbsp;комнаты
                    .panno__item__btn-wrap
                        a.panno__item__btn(href="#") Подробнее

            .panno__item
                .panno__item__img-wrap
                    picture.panno__item____picture.panno__item__picture--sm.picture--sm
                        source(type="image/webp", data-srcset="./img/content/panno/panno-2-sm.webp")
                        source(type="image/jpg", data-srcset="./img/content/panno/panno-2-sm.jpg")
                        img(data-src="./img/content/panno/panno-2-sm.jpg", alt="Озеленение ванной&nbsp;комнаты").panno__item__img
                    picture.panno__item____picture.panno__item__picture--md.picture--md
                        source(type="image/webp", data-srcset="./img/content/panno/panno-2-md.webp")
                        source(type="image/jpg", data-srcset="./img/content/panno/panno-2-md.jpg")
                        img(data-src="./img/content/panno/panno-2-md.jpg", alt="Озеленение ванной&nbsp;комнаты").panno__item__img
                    picture.panno__item____picture.panno__item__picture--lg.picture--lg
                        source(type="image/webp", data-srcset="./img/content/panno/panno-2-lg.webp")
                        source(type="image/jpg", data-srcset="./img/content/panno/panno-2-lg.jpg")
                        img(data-src="./img/content/panno/panno-2-lg.jpg", alt="Озеленение ванной&nbsp;комнаты").panno__item__img
                .panno__item__inner
                    .panno__item__title Озеленение ванной&nbsp;комнаты
                    .panno__item__btn-wrap
                        a.panno__item__btn(href="#") Подробнее

            .panno__item
                .panno__item__img-wrap
                    picture.panno__item____picture.panno__item__picture--sm.picture--sm
                        source(type="image/webp", data-srcset="./img/content/panno/panno-2-sm.webp")
                        source(type="image/jpg", data-srcset="./img/content/panno/panno-2-sm.jpg")
                        img(data-src="./img/content/panno/panno-2-sm.jpg", alt="Озеленение ванной&nbsp;комнаты").panno__item__img
                    picture.panno__item____picture.panno__item__picture--md.picture--md
                        source(type="image/webp", data-srcset="./img/content/panno/panno-2-md.webp")
                        source(type="image/jpg", data-srcset="./img/content/panno/panno-2-md.jpg")
                        img(data-src="./img/content/panno/panno-2-md.jpg", alt="Озеленение ванной&nbsp;комнаты").panno__item__img
                    picture.panno__item____picture.panno__item__picture--lg.picture--lg
                        source(type="image/webp", data-srcset="./img/content/panno/panno-2-lg.webp")
                        source(type="image/jpg", data-srcset="./img/content/panno/panno-2-lg.jpg")
                        img(data-src="./img/content/panno/panno-2-lg.jpg", alt="Озеленение ванной&nbsp;комнаты").panno__item__img
                .panno__item__inner
                    .panno__item__title Озеленение ванной&nbsp;комнаты
                    .panno__item__btn-wrap
                        a.panno__item__btn(href="#") Подробнее