section.section.section--about#scrollto-about
	.about
		.about__inner
			h2.about__header Давайте знакомиться!
			.about__info
				.about__info__img-wrap
					.about__info__img2
					.about__info__img
				.about__info__text Приветствую всех!#[br]Меня зовут Оля и&nbsp;я&nbsp;обожаю оживлять пространство вокруг&nbsp;себя!
			.about__desc
				p Всё началось с&nbsp;раннего детства. Родители&nbsp;занимались разведением аквариумных рыбок, растений и&nbsp;попугаев. Росла я&nbsp;в&nbsp;частном секторе, максимально близко к&nbsp;природе. В&nbsp;специально оборудованной комнате стояло 40&nbsp;аквариумов с&nbsp;общим объёмом воды 12&nbsp;тонн!
				p Думаю, жизнь в&nbsp;аквариуме&nbsp;&mdash; наглядный пример того, что происходит в&nbsp;организме человека. Требуется постоянный уход. Важно правильно кормить, удобрять, регулярно чистить аквариум, отслеживать качество воды, температуру. В&nbsp;противном случае растения сгниют, а&nbsp;рыбки погибнут. Ровно как и&nbsp;с&nbsp;человеческим телом. Если не&nbsp;следить за&nbsp;тем, что ешь, пьешь, думаешь, не&nbsp;очищать организм и&nbsp;пространство вокруг себя&nbsp;&mdash; результат будет плачевным.