.footer
    padding em(50) em(20) em(222)
    background url('../img/content/footer/footer-sm.jpg') 0 bottom no-repeat
    background-size contain
    min-height: em(374)
    display flex
    flex-direction: column
    justify-content: center

    +md-block()
        background none
        position relative
        z-index 0
        padding em(100) em(60)
        min-height: em(580)

    +lg-block()
        padding em(100) em(330)
        min-height: em(613)

    &:before
        +md-block()
            position absolute
            left 0
            top 0
            right 0
            bottom 0
            display block
            background: url('../img/content/footer/footer-left-md.jpg') 0 0 no-repeat
            background-size em(280) em(320)
            content ''
            background-position em(-60) em(-10)
            z-index -1

        +lg-block()
            background: url('../img/content/footer/footer-left-lg.jpg') 0 0 no-repeat
            background-position 0 0 
            background-size em(560) em(613)

    &:after
        +md-block()
            position absolute
            left 0
            top 0
            right 0
            bottom 0
            display block
            background: url('../img/content/footer/footer-right-md.jpg') 100% 100% no-repeat
            background-size em(380) em(370)
            content ''
            z-index -1

        +lg-block()
            background: url('../img/content/footer/footer-right-lg.jpg') 100% 100% no-repeat
            background-size em(720) em(613)

    &__form-wrap
        margin-bottom em(50)

        +md-block()
            margin 0 em(100) em(100)

        +lg-block()
            margin 0 0 em(100)

    &__form-title
        font-size: em(18)
        line-height: 130%;
        text-align center
        font-weight 700
        margin-bottom (20/18em)

        +md-block()
            font-weight: 600;
            font-size: em(24)
            line-height: 150%;
            margin-bottom (30/24em)

        +lg-block()
            margin-bottom (50/24em)
    


.share
    &__title
        text-align center
        font-family $ff2
        font-size: em(24)
        line-height: 100%;      
        margin-bottom (20/24em)

        +md-block()
            font-size em(60)
            margin-bottom (50/60em)

    &__items
        display flex
        flex-wrap: wrap
        justify-content: center

    &__item
        width em(56)
        height em(56)
        background-position 0 0
        background-size contain
        background-repeat no-repeat
        margin 0 em(6)
        color #fff
        border 1px solid #658961
        border-radius: 50%
        display flex
        align-items: center
        justify-content: center
        transition all 0.4s

        svg
            display block
            height auto
            width em(24)

            +md-block()
                width em(44)

        &:hover
            background-color #658961
            
            svg
                path
                    fill #fff
                    transition all 0.4s

        +md-block()
            width em(102)
            height em(102)
            margin 0 em(19)