.calculator

    +lg-block()
        background-color #E7EEE9
        padding em(80) em(200)

    &__header
        font-style: normal;
        font-weight: 400;
        font-size: em(24)
        line-height: 100%;
        font-family $ff2
        text-align center
        margin-bottom (20/24em)

        +md-block()
            font-size em(60)
            margin-bottom 0.5em
    
    &__subtitle
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        text-align center
        margin-bottom (20/24em)
        margin 0 (20/12em) (20/12em)

        +md-block()
            font-size em(20)
            margin-bottom (30/20em)

        +lg-block()
            margin-bottom 4em

    &__inner
        background-color #E7EEE9
        padding em(26) em(20) em(44)

        +md-block()
            padding em(50) em(50) em(100)
        
        +lg-block()
            padding 0
            display flex
            justify-content: space-between

    &__left
        margin-bottom em(30)

        +md-block()
            margin-bottom em(60)

        +lg-block()
            flex-grow: 1
            margin-right 3em
            margin-bottom 0

    &__right
        background-color #2B2C3C
        border-radius: em(12)
        color #fff
        padding em(30) em(36) em(40)

        +md-block()
            border-radius: em(20)
            padding em(70) em(116) em(70) em(70)
            display flex
            flex-wrap: wrap

        +lg-block()
            max-width: em(465)
            flex-grow: 1
            flex-direction: column
            padding em(60)
            justify-content: center

    &__row
        &--btn
            text-align center

            +md-block()
                margin-left auto
                margin-right auto

        &--btn-first
            +md-block()
                margin-bottom em(30)

        &--total
        &--square
            flex-basis: 50%

            +lg-block()
                flex-basis auto

        &--size-delivery
            +lg-block()
                display flex
                justify-content: space-between


    &__size

        display flex
        flex-wrap: wrap
        justify-content: space-between
        margin-bottom em(30)

        +md-block()
            margin-bottom em(50)

        +lg-block()
            min-width: em(650)
            max-width: em(650)

        &__item
            flex 0 0 em(80)

            +md-block()
                flex-basis: em(186)

        &__title
            font-style: normal;
            font-weight: 600;
            font-size: em(10)
            line-height: 150%;
            text-align center

            +md-block()
                font-size 1em
                text-align left
                margin-bottom em(10)

        input[type="text"]
            font-style: normal;
            font-weight: 500;
            font-size: 1em
            line-height: em(30)
            text-align center
            color #000
            max-width: em(80)
            height em(30)
            padding 0

            +md-block()
                font-size em(30)
                height (50/30em)
                line-height (50/30em)
                max-width: (196/30em)
        
        &__note
            flex-basis: 100%
            font-style: normal;
            font-weight: 400;
            font-size: em(8)
            line-height: 150%;
            text-align center
            margin (10/8em) 0 0 0

            +md-block()
                font-size 1em
                margin-top em(20)

    &__delivery
        display flex
        justify-content: space-between
        margin-bottom em(30)

        +md-block()
            margin-bottom em(50)

        +lg-block()
            flex-direction: column

        &__title
            font-style: normal;
            font-weight: 500;
            font-size: em(10)
            line-height: 150%;
            position relative
            padding 0 0 0 (30/10em)
            width (132/10em)
            cursor pointer

            +md-block()
                font-size 1em
                width em(280)
                padding 0 0 0 em(56)

            &:before
            &:after
                position absolute
                content ''
                display block
                border-radius: 0%
                transition: all 0.4s
                font-size (16/10em)                
                top em(4)
                width em(20)
                height em(20)
                left 0

                +md-block()
                    font-size 1em
                    width em(30)
                    height em(30)

            &:before
                background-color #fff
                border: 2px solid #BABABA;
            
            &:after
                z-index 1
                background-repeat no-repeat
                background-position 50% 50%
                background-size em(10) auto
                background-image embedurl('../img/content/calculator/check.svg')
                opacity 0

                +md-block()
                    background-size em(15) auto

            &.active
            &:hover
                &:before
                    border-color #64A060
                    background-color #64A060
                &:after
                    opacity 1

    &__mox

        padding-bottom em(10)

        +md-block()
            padding-bottom em(40)
        
        +lg-block()
            padding-bottom em(100)

        &__header
            font-weight: 700;
            font-size: em(12)
            line-height: 150%;
            text-align center
            text-transform uppercase
            margin-bottom (16/12em)

            +md-block()
                font-size em(18)
                margin-bottom (20/18em)

        &__title
            font-style: normal;
            font-weight: 500;
            font-size: em(10)
            line-height: 150%;
            margin-bottom (14/10em)

            +md-block()
                font-size 1em
                margin-bottom em(42)
            
            +lg-block()
                text-align center
                margin 0
                padding em(26) 0

        &__items

            +lg-block()
                display flex
                justify-content: space-between

        &__item
            display flex
            margin-bottom em(20)

            +md-block()
                margin-bottom em(26)

            +lg-block()
                flex 0 0 em(310)
                margin 0
                flex-direction: column

        &__left
            width em(85)
            min-width em(85)
            max-width em(85)
            margin 0 em(15) 0 0

            +md-block()
                width em(250)
                min-width em(250)
                max-width em(250)
                margin 0 em(30) 0 0

        &__right
            flex-grow: 1

        &__inner
            position relative
            padding 0 em(10)

            +lg-block()
                padding 0 em(20) 0 em(10)

            &:before
                position absolute
                left 0
                top -2px
                height 4px
                content ''
                background-color #64A060
                width 20px
                border-radius: 2px

                +md-block()
                    height 6px
                    top -3px

            &:after
                position absolute
                right 0
                top 0
                height 2px
                content ''
                background-color #BABABA
                width 20px
                border-radius: 2px

                +md-block()
                    height 3px

        &__img
            width em(85)
            height em(62)
            background-position 0 0
            background-repeat no-repeat
            background-size cover
            border-radius: em(12)
            position relative

            +md-block()
                width em(250)
                height em(130)
                border-radius: em(20)
            
            +lg-block()
                width em(310)
                height em(130)

            &:before
            &:after
                position absolute
                content ''
                display block
                border-radius: 50%
                left 50%
                transform: translateX(-50%)
                transition: all 0.4s

            &:before
                width em(20)
                height em(20)
                background-color #fff
                border: 2px solid #BABABA;
                bottom em(-10)

                +md-block()
                    width em(30)
                    height em(30)
                    border: 4px solid #BABABA;
                    bottom em(-15)
            
            &:after
                width em(10)
                height em(10)
                background-color #fff
                bottom em(-5)

                +md-block()
                    width em(14)
                    height em(14)
                    bottom em(-7)

            &.active
                &:before
                    border-color #64A060
                &:after
                    background-color #64A060

            &--1
                background-image url(../img/content/calculator/img-1-sm.png)
                +md-block()
                    background-image url(../img/content/calculator/img-1-md.png)
                +lg-block()
                    background-image url(../img/content/calculator/img-1-lg.png)
            &--2
                background-image url(../img/content/calculator/img-2-sm.png)
                +md-block()
                    background-image url(../img/content/calculator/img-2-md.png)
                +lg-block()
                    background-image url(../img/content/calculator/img-2-lg.png)
            &--3
                background-image url(../img/content/calculator/img-3-sm.png)
                +md-block()
                    background-image url(../img/content/calculator/img-3-md.png)
                +lg-block()
                    background-image url(../img/content/calculator/img-3-lg.png)

        &__value
            font-weight: 600;
            font-size: em(10)
            line-height: 150%;
            text-align: center;
            position absolute
            top (14/10em)
            display none


        .ui-slider-horizontal
            border none
            height 2px
            background-color #BABABA

            +md-block()
                height 3px
        
        .ui-slider-horizontal .ui-slider-handle
            width em(20)
            height em(20)
            border-radius: 50%
            background-color #64A060
            border none
            top em(-10)
            outline: none

            +md-block()
                width em(30)
                height em(30)
                top em(-15)

            &.inactive
                background-color #BABABA

            &:before
                font-weight: 600;
                font-size: em(10)
                line-height: 150%;
                text-align: center;
                position absolute
                bottom (-19/10em)
                content attr(data-value)
                color #000
                font-family $ff
                width 5em
                text-align center
                transform: translateX(-50%)
                margin 0 0 0 (10/10em)

                +md-block()
                    font-size em(18)

        .ui-slider-horizontal .ui-slider-range-min
            border none
            height 4px 
            background-color #64A060
            margin-top -2px

            +md-block()
                height 6px
                margin-top -3px

    &__more

        padding: 0 0 em(40)

        +lg-block()
            padding 0

        &__header
            font-weight: 700;
            font-size: em(12)
            line-height: 150%;
            text-align center
            text-transform uppercase
            margin-bottom (24/12em)

            +md-block()
                font-size em(18)
                margin-bottom (24/18em)

        &__items
            columns 2
            margin-bottom em(20)

            +md-block()
                margin-bottom em(42)

            +lg-block()
                columns 3

        &__item
            font-weight: 500;
            font-size: em(10)
            line-height: 150%;
            position relative
            width (132/10em)
            min-width (132/10em)
            max-width (132/10em)
            padding (5/10em) 0
            padding-left 0
            display flex
            align-items: center
            cursor pointer

            +md-block()
                font-size 1em
                line-height em(30)
                width auto
                min-width 0
                max-width none
                padding em(5) 0

            &:before
                display block
                content ''
                transition: all 0.4s
                font-size (16/10em)
                width em(20)
                height em(20)
                background-color #fff
                border: 2px solid #BABABA;
                background-repeat no-repeat
                background-position 50% 50%
                background-size em(10) auto
                margin: 0 em(10) 0 0

                +md-block()
                    font-size 1em
                    width em(30)
                    height em(30)

            &.active
            &:hover
                &:before
                    border-color #64A060
                    background-color #64A060
                    background-image embedurl('../img/content/calculator/check.svg')

                    +md-block()
                        background-size em(15) auto
        
        &__value
            font-weight: 600;
            font-size: em(10)
            line-height: 150%;
            text-align: center;
            position absolute
            top (14/10em)
            display none

        &__inner
            position relative
            padding 0 em(10)

            &:before
                position absolute
                left 0
                top -2px
                height 4px
                content ''
                background-color #64A060
                width 20px
                border-radius: 2px 0 0 2px

                +md-block()
                    height 6px

            &:after
                position absolute
                right 0
                top 0
                height 2px
                content ''
                background-color #BABABA
                width 20px
                border-radius: 2px

                +md-block()
                    height 3px

        .ui-slider-horizontal
            border none
            height 2px
            background-color #BABABA

            +md-block()
                height 3px
        
        .ui-slider-horizontal .ui-slider-handle
            width em(20)
            height em(20)
            border-radius: 50%
            background-color #64A060
            border none
            top em(-10)
            outline: none

            +md-block()
                width em(30)
                height em(30)
                top em(-15)

            &.inactive
                background-color #BABABA

            &:before
                font-weight: 600;
                font-size: em(10)
                line-height: 150%;
                text-align: center;
                position absolute
                bottom (-19/10em)
                content attr(data-value)
                color #000
                font-family $ff
                width 5em
                text-align center
                transform: translateX(-50%)
                margin 0 0 0 (10/10em)

                +md-block()
                    font-size 18px

        .ui-slider-horizontal .ui-slider-range-min
            border none
            height 4px 
            background-color #64A060
            margin-top -2px

            +md-block()
                height 6px

    &__title
        font-weight: 600;
        font-size: em(14)
        line-height: 150%;
        margin-bottom (6/14em)

        +md-block()
            font-size em(24)
            margin-bottom (10/24em)

    &__total
        font-weight: 700;
        font-size: em(30)
        line-height: 150%;
        color #64A060
        margin-bottom (16/30em)

        +md-block()
            font-size em(50)
            margin-bottom (30/50em)

        &--white
            color #fff

    &__note
        margin (8/10em) 0 3em
        font-weight: 500;
        font-size: em(10)
        line-height: 150%;
        padding 0 0 0 (50/10em)
        background embedurl('../img/content/calculator/icon-1.svg') 0 (8/10em) no-repeat
        background-size (27/10em) auto

        +md-block()
            font-size 1em
            width em(443)
            padding 0 0 0 em(85)
            margin 0 0 em(30) em(38)

        +lg-block()
            width auto
            margin 0 0 em(50)
