section.section--calculator#scrollto-calculator
    .calculator
        h2.calculator__header Узнайте ориентировочную стоимость озеленения
        .calculator__subtitle Выберите для себя оптимальное решение и&nbsp;мы&nbsp;рассчитаем приблизительную стоимость всего проекта.#[br]Точная стоимость проекта возможна после выезда нашего&nbsp;специалиста.
        .calculator__inner
            .calculator__left
                .calculator__row.calculator__row--size-delivery
                    .calculator__size
                        .calculator__size__item
                            .calculator__size__title Ширина, м
                            .calculator__size__input
                                input.calculator--width(type="text", placeholder="0м")
                        .calculator__size__item
                            .calculator__size__title Длина, м
                            .calculator__size__input
                                input.calculator--length(type="text", placeholder="0м")
                        .calculator__size__item
                            .calculator__size__title Плащадь, м²
                            .calculator__size__input
                                input.calculator--square(type="text", placeholder="м²")
                        .calculator__size__note Впишите размеры длины и ширины для рассчёта площади
                    .calculator__delivery
                        .calculator__delivery__item
                            .calculator__delivery__title(data-price="1500")  Выезд замерщика по&nbsp;Москве #[b 1&nbsp;500&nbsp;руб.]
                        .calculator__delivery__item
                            .calculator__delivery__title(data-price="3500")  Выезд замерщика по&nbsp;МО&nbsp;до&nbsp;50&nbsp;км #[b 3&nbsp;500&nbsp;руб.]

                .calculator__row
                    .calculator__mox
                        .calculator__mox__header выберите Вид покрытия
                        .calculator__mox__items
                            .calculator__mox__item
                                .calculator__mox__left
                                    .calculator__mox__img.calculator__mox__img--1
                                .calculator__mox__right
                                    .calculator__mox__title Пластовый мох
                                    .calculator__mox__inner
                                        .calculator__mox__input(data-input="formation")
                                        .calculator__mox__value(data-name="formation") 0

                            .calculator__mox__item
                                .calculator__mox__left
                                    .calculator__mox__img.calculator__mox__img--2
                                .calculator__mox__right
                                    .calculator__mox__title Ягель мох
                                    .calculator__mox__inner
                                        .calculator__mox__input(data-input="yagel")
                                        .calculator__mox__value(data-name="yagel") 0

                            .calculator__mox__item
                                .calculator__mox__left
                                    .calculator__mox__img.calculator__mox__img--3
                                .calculator__mox__right
                                    .calculator__mox__title Кочки мох
                                    .calculator__mox__inner
                                        .calculator__mox__input(data-input="bump")
                                        .calculator__mox__value(data-name="bump") 0

                .calculator__row
                    .calculator__more
                        .calculator__more__header выберите Вид растений
                        .calculator__more__items
                            .calculator__more__item Папортник (3&nbsp;подвида)
                            .calculator__more__item Тики
                            .calculator__more__item Мигферн
                            .calculator__more__item Николи
                            .calculator__more__item Туя
                            .calculator__more__item Пендула
                            .calculator__more__item Тополь
                            .calculator__more__item Эвкалипт (3&nbsp;подвида)
                            .calculator__more__item Плющ хэдера
                            .calculator__more__item Питоспорум
                            .calculator__more__item Амарант (5&nbsp;цветов)
                            .calculator__more__item Парвафолия
                            .calculator__more__item Диосми
                            .calculator__more__item Беар грас
                            .calculator__more__item Лаванда
                        .calculator__more__inner
                            .calculator__more__input
                            .calculator__more__value 0
                .calculator__row.calculator__row--btn.sm-visible
                    a(href="#").btn.calculator--sum Рассчитать стоимость

            .calculator__right
                .calculator__row.calculator__row--total
                    .calculator__title Сумма
                    .calculator__total #[span.totalSum 0] ₽
                .calculator__row.calculator__row--square
                    .calculator__title Площадь
                    .calculator__total.calculator__total--white #[span.totalSquare 0] м²
                .calculator__row
                    .calculator__note В стоимость входит 3&nbsp;варианта&nbsp;эскиза макета 3&nbsp;000 ₽.#[br](при заключении договора сумма возвращается)
                .calculator__row.calculator__row--btn.calculator__row--btn-first.sm-hidden
                    a(href="#").btn.btn.calculator--sum Рассчитать стоимость
                .calculator__row.calculator__row--btn
                    a(href="#").btn.btn--white заказать проект