@import "navigation/navigation"
@import "path/path"
@import "menu/menu"
@import "panno-inner/panno-inner"
@import "footer-inner/footer-inner"
@import "form/form"
.error
    .form__note
        display block