//- include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU" class="no-js")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		title #{title}
		meta(name="theme-color" content="#fff")
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		<meta property="og:locale" content="ru">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="Okfito">
		<meta property="og:url" content="https://okfito.ru/">
		<meta property="og:title" content="Профессиональное озеленение вашего интерьера | Okfito">
		<meta property="og:description" content="Профессиональное озеленение вашего интерьера от Okfito!">
		<meta property="og:image" content="https://okfito.ru/share.jpg">
		<meta property="og:image:secure_url" content="https://okfito.ru/share.jpg">
		<link rel="shortcut icon" href="https://okfito.ru/favicon.ico" type="image/x-icon">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://okfito.ru/styles/swiper-bundle.css"/>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
		|<!-- inject:head:html -->
		|<!-- endinject -->
	body
		//- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
		block styles
		#fl_start_lp.fl_start_lp
			block content
		block scripts