.share
    .share__title Мы в социальных сетях
    .share__items
        a(href="https://www.instagram.com/ok_fito/", target="_blank").share__item
            include inst.svg
        a(href="https://vk.com/ok_fito", target="_blank").share__item
            include vk.svg
        a(href="https://www.facebook.com/groups/295462477284116/?mibextid=6NoCDW", target="_blank").share__item
            include fb.svg